{% load static %}

<li class="dropdown" id="about_menu">
    <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Info<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="nav-header disabled"><a>INFORMATION</a></li>
        <!-- <li><a onclick="citation_tool(window.location.href);" href="#">Cite us</a></li> -->
        <!-- <li><a href="/static/home/poster/overview.pdf">Graphical overview</a></li> -->
        
        <li><a href="https://pgx-documentation.readthedocs.io/en/latest/index.html">Documentation</a></li>
        <li class="divider"></li>
        <li class="nav-header disabled"><a>ABOUT US</a></li>
        <li><a href="https://pgx-documentation.readthedocs.io/en/latest/contact.html">Contact</a></li>
        <li><a href="https://pgx-documentation.readthedocs.io/en/latest/legal_notice.html">Legal notice</a></li>
        <li><a href="https://pgx-documentation.readthedocs.io/en/latest/citing_pgxdb.html">Citing PGxDB</a></li>
    </ul>
</li>
