{% extends "home/base.html" %}
{% load static %}
{% block addon_css %}

<link rel="stylesheet" href="{% static '/home/css/autocomplete.css' %}">

<style>
    #disease, #disease-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    #disease-result{
        margin-top: 20px;
        width: 70%;
        margin: 20px auto;
    }

    #disease-result-table {
        border-radius: 5px;
        min-width: 100%;
    }

    #disease-result-table th:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #disease-result-table th:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #disease-result-table th{
        height: 40px;
        text-align: left;
        /* font-weight: bold; */
        font-size: 14px;
    }

    #disease-result-table th, td {
        padding: 0 7px;
    }

    #disease-result-table tr:nth-child(even) {
        background-color: #04b970/* Color 1 for even rows */
    }

    #disease-result-table tr:nth-child(odd) {
        background-color: white; /* Color 2 for odd rows */
    } 
    #disease p
   {
        display: block;
        width: 70%;
        background-color: rgb(144, 210, 157);
        padding: 10px;
        border-radius: 5px;
    }

    #disease form
    {
        background-color: #F2F5F6;
        padding: 3px;
        border-radius: 5px;
        width: 70%;
        height: 95px
    }

    /* Style the input elements and buttons */
    #disease input
    {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Add some spacing between buttons */
    #disease_search,
    #disease_reset
     {
        margin-right: 10px;
    }

    input.form-control {
        width: 650px;
    }

    td {
        vertical-align: middle;
    }


    #disease-search-intro {
        display: flex;
        align-items: top;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 40px;
    }
    #sub-disease-search-intro-text{
        width: 70%;
        text-align: justify;
    }
    #sub-disease-search-intro-image{
        width: 35%;
    }
</style>

{% endblock %}

{% block content %}
<a href="" target="_blank"></a>
<div id="disease-search-intro">
    <div id="sub-disease-search-intro-text">
            <h3>DISEASES (Drug indication)</h3>
            <p>
                Our database provides comprehensive information on approved and investigational drug-indication associations. Approved drug-indications are sourced from <a href="https://repurposedrugs.org/" target="_blank">RepurposeDrugs</a>, which utilizes a semi-automated pipeline and <a href="https://clinicaltrials.gov/data-api/api" target="_blank">ClinicalTrial's API</a>, while investigational indications are extracted from the <a href="https://www.ebi.ac.uk/chembl/" target="_blank">ChEMBL</a> database. We have compiled ~1,600 unique drug-indications, mapping them to Unified Medical Language-Concept Unique Identifiers (UML-CUIs) available at <a href="https://www.disgenet.org/" target="_blank">DisGeNET</a>. These indications are further aggregated into 25 classes for easier navigation. 
                <br>
                <br>
                The image on the right shows the dataflow we used to retrieve the disease data.
            </p>
    </div>
    <div id="sub-disease-search-intro-image">
        <img src="/static/disease/images/data.png" alt="Atc code example" style="width: 70%; margin-left: 70px;">
    </div>
</div>

<div id="disease">
    <p class="lookup-text">Search by <i><span style="color:mediumblue;">Disease name</span></i>, <span style="color:mediumblue;">Disease class</span></i>, associated <i><span style="color:mediumblue;">Drug name</span></i> or <i><span style="color:mediumblue;">ATC code</span></i>
    <br><i style="font-weight: 300;color:mediumblue;">(Multiple inputs are allowed. Please use semi colons to separate the inputs)</i></p>
    <form method="get" action="">
        <table class="table table-bordered table-gray table-fulltext-two-rows">
            <tbody>
                <tr>
                    <td>
                        <div style="position: relative;">
                            <input id="search_disease" 
                                class="form-text form-type-textfield form-control optional ui-autocomplete-input" style="width:100%;" size="70%"
                                autocomplete="on" />
                            <div class="autocomplete-outer">
                                <div id="disease-autocomplete-results">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="h-center"><input id="submit_disease" type="submit" value="Search"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                    <td class="h-center"><input id="reset_disease" type="button" value="Reset"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block" data-url="{% url 'disease-lookup' %}?disease=default"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left; padding-left: 30px;">Examples: <a
                            href="{% url 'disease-lookup' %}?disease_info=Radiation%20Pneumonitis"  target="_blank" hreflang="en">Radiation Pneumonitis</a>; 
                            </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div id="disease-result">
    <p id="search_result_examples" style="margin: 20px 0 20px; font-size: 20px; font-weight: bold;">Random disease examples</p>
    <table id="disease-result-table">
        <thead>
            <tr style="background-color: rgb(144, 210, 157);">
                <th>Disease name</th>
                <th>Disease class</th>
                <th>Disease_UML_CUI</th>
                <th>Associated drug(s)</th>
                <th style="text-align: center;">ATC code<br>(assigned <br>for drug)</th>
                <th style="text-align: center;">Phase of clinical study</th>
                <th>Association study</th>
                <th style="text-align: center;">Drug-disease network</th>
            </tr>
        </thead>

        <tbody id="disease-result-tbody">
            {% for item in response_data %}
                {% for drug in item.drugs %}
                    <tr style="background-color: {% if forloop.parentloop.counter0|divisibleby:2 %}white{% else %}#d8f3dc{% endif %}">
                        {% if forloop.first %}
                            <!-- Apply rowspan only for the first row -->
                            <td style="vertical-align: top;" rowspan="{{ item.drugs|length }}">{{ item.disease_name }}</td>
                            <td style="vertical-align: top;" rowspan="{{ item.drugs|length }}">{{ item.disease_class }}</td>
                            <td style="text-align: center; vertical-align: top;" rowspan="{{ item.drugs|length }}">{{ item.disease_UML_CUI }}</td>
                        {% endif %}
                        <td>{{ drug.drugname }} <a href="https://go.drugbank.com/drugs/{{ drug.drug_bankID }}" target="_blank"><i>(id: {{ drug.drug_bankID }}</i>)</a></td>
                        <td style="text-align: center;">{{ drug.atc_code }}</td>
                        <td style="text-align: center;">{{ drug.clinical_trial }}</td>
                        <td><a href="{{ drug.link }}" target="_blank">Ref</a></td>
                        <!-- href=" -->
                        {% if drug.atc_code != "None" %}
                            <td style="text-align: center;"><a href="{% url 'atc-detail-view' %}?group_id={{ drug.atc_code.0 }}&detail={{ drug.atc_code }}">Go to network</a></td>
                        {% else %}
                            <td style="text-align: center;"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block addon_js %}

<script>
    var prev = [];
    $(document).ready(function () {
        var autocompleteResults = $('#disease-autocomplete-results');
        $('#search_disease').autocomplete({
            source: function (request, response) {
                var term = request.term.split(";")[request.term.split(";").length -1];
                if (term.length > 2) {
                    $.ajax({
                        url: "{% url 'disease-autocomplete-view' %}",
                        data: {
                            query: term
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.suggestions.length > 0) {
                                response(data.suggestions);
                            }
                            else {
                                response(['No results found!'])
                            }
                            
                        }
                    });
                }
            },
            autoFocus: true,
            minLength: 3,
            select: function (event, ui) {
                var current = $('#search_disease').val();
                var current_value = "";
                if (!current.includes(";")){ //fresh terms
                    prev=[];
                }
                if(!prev.includes(ui.item.value)) {
                    prev.push(ui.item.value);
                }
                $('#search_disease').val(prev.join(";"));
                $("#submit_disease").click();                       
                return false;
            },
            open: function (event, ui) {
                autocompleteResults.show(); 
            },
            close: function (event, ui) {
                autocompleteResults.hide(); 
            }
        });

        var urlParams = new URLSearchParams(window.location.search);

        //case 1: drug_id is passed when the drug has no atc code --> left panel just has None, no atc hierachy tree
        if (urlParams.has('disease_info')) {
            var disease = urlParams.get('disease_info');
            $.ajax({
                url: "{% url 'disease-lookup' %}?disease=" +disease,
                success: function (data) {
                    $("#disease-result-tbody").html('');
                    var html_data = '';
                    var bgColor;
                    for (var i = 0; i < data.response_data.length; i++) 
                    {
                        // console.log(i+ " data.response_data =  "+data.response_data[i]);
                        var goToNetworkURL;
                        bgColor = i % 2 === 0 ? "white" : "#95d5b2";
                        for (var j = 0; j < data.response_data[i].drugs.length; j++) {
                            if (data.response_data[i].drugs[j].atc_code === "None") {
                                goToNetworkURL = "";
                            }
                            else {
                                goToNetworkURL = `<a href="{% url 'atc-detail-view' %}?group_id=${data.response_data[i].drugs[j].atc_code.charAt(0)}&detail=${data.response_data[i].drugs[j].atc_code}">Go to network</a>`;
                            }
                            if (j==0){
                                html_data += `<tr style="background-color:${bgColor};">
                                            <td style="vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_name}</td>
                                            <td style="vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_class}</td>
                                            <td style="text-align: center; vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_UML_CUI}</td>
                                            <td>${data.response_data[i].drugs[j].drugname} <a href="https://go.drugbank.com/drugs/${data.response_data[i].drugs[j].drug_bankID}" target="_blank">(<i>id: ${data.response_data[i].drugs[j].drug_bankID}</i>)</a></td>
                                            <td>${data.response_data[i].drugs[j].atc_code}</td>
                                            <td style="text-align: center;">${data.response_data[i].drugs[j].clinical_trial}</td>
                                            <td><a href="${data.response_data[i].drugs[j].link}" target="_blank">Ref</a></td>
                                            <td style="text-align: center;">${goToNetworkURL}</td></tr>`;
                                        }
                            else{
                                html_data += `<tr style="background-color:${bgColor};">
                                            <td>${data.response_data[i].drugs[j].drugname} <a href="https://go.drugbank.com/drugs/${data.response_data[i].drugs[j].drug_bankID}" target="_blank">(<i>id: ${data.response_data[i].drugs[j].drug_bankID}</i>)</a></td>
                                            <td>${data.response_data[i].drugs[j].atc_code}</td>
                                            <td style="text-align: center;">${data.response_data[i].drugs[j].clinical_trial}</td>
                                            <td><a href="${data.response_data[i].drugs[j].link}" target="_blank">Ref</a></td>
                                            <td style="text-align: center;">${goToNetworkURL}</td></tr>`;
                            }
                        }
                    }
                    $("#disease-result-tbody").html(html_data);
                }
            });
        }

        function add_selected_term(term){

        }
        // submit
        $("#submit_disease").click(function () {
            document.getElementById("search_result_examples").innerHTML = "Result(s)";
            var d = $("#search_disease").val();
            // console.log("search_disease.val(): "+d);
            $.ajax({
                url: "{% url 'disease-lookup' %}?disease=" + $("#search_disease").val(),
                success: function (data) {
                    $("#disease-result-tbody").html('');
                    var html_data = '';
                    var bgColor;
                    for (var i = 0; i < data.response_data.length; i++) 
                    {
                        console.log(i+ " data.response_data =  "+data.response_data[i]);
                        var goToNetworkURL;
                        bgColor = i % 2 === 0 ? "white" : "#95d5b2";
                        for (var j = 0; j < data.response_data[i].drugs.length; j++) {
                            if (data.response_data[i].drugs[j].atc_code === "None") {
                                goToNetworkURL = "";
                            }
                            else {
                                goToNetworkURL = `<a href="{% url 'atc-detail-view' %}?group_id=${data.response_data[i].drugs[j].atc_code.charAt(0)}&detail=${data.response_data[i].drugs[j].atc_code}">Go to network</a>`;
                            }
                            if (j==0){
                                html_data += `<tr style="background-color:${bgColor};">
                                            <td style="vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_name}</td>
                                            <td style="vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_class}</td>
                                            <td style="text-align: center; vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_UML_CUI}</td>
                                            <td>${data.response_data[i].drugs[j].drugname} <a href="https://go.drugbank.com/drugs/${data.response_data[i].drugs[j].drug_bankID}" target="_blank">(<i>id: ${data.response_data[i].drugs[j].drug_bankID}</i>)</a></td>
                                            <td>${data.response_data[i].drugs[j].atc_code}</td>
                                            <td style="text-align: center;">${data.response_data[i].drugs[j].clinical_trial}</td>
                                            <td><a href="${data.response_data[i].drugs[j].link}" target="_blank">Ref</a></td>
                                            <td style="text-align: center;">${goToNetworkURL}</td></tr>`;
                                        }
                            else{
                                html_data += `<tr style="background-color:${bgColor};">
                                            <td>${data.response_data[i].drugs[j].drugname} <a href="https://go.drugbank.com/drugs/${data.response_data[i].drugs[j].drug_bankID}" target="_blank">(<i>id: ${data.response_data[i].drugs[j].drug_bankID}</i>)</a></td>
                                            <td>${data.response_data[i].drugs[j].atc_code}</td>
                                            <td style="text-align: center;">${data.response_data[i].drugs[j].clinical_trial}</td>
                                            <td><a href="${data.response_data[i].drugs[j].link}" target="_blank">Ref</a></td>
                                            <td style="text-align: center;">${goToNetworkURL}</td></tr>`;
                            }
                        }
                    }
                    $("#disease-result-tbody").html(html_data);
                }
            });
        });
        
        
        // Handle the form submission when the form is submitted
        $("form").submit(function (event) {
            event.preventDefault(); 
        });

        // reset
        $("#reset_disease").click(function() {
            prev = [];
            document.getElementById("search_disease").value = "";
            document.getElementById("search_result_examples").innerHTML = "Random disease examples";
        
            $.ajax({
                    url: "{% url 'disease-lookup' %}?disease=default",
                    success: function (data) {
                        $("#disease-result-tbody").html('');
                        var html_data = '';
                        var bgColor;
                        for (var i = 0; i < data.response_data.length; i++) 
                        {
                            bgColor = i % 2 === 0 ? "white" : "#d8f3dc";
                            for (var j = 0; j < data.response_data[i].drugs.length; j++) {
                                var goToNetworkURL;
                                if (data.response_data[i].drugs[j].atc_code === "None") {
                                    goToNetworkURL = "";
                                }
                                else {
                                    goToNetworkURL = `<a href="{% url 'atc-detail-view' %}?group_id=${data.response_data[i].drugs[j].atc_code.charAt(0)}&detail=${data.response_data[i].drugs[j].atc_code}">Go to network</a>`;
                                }
                                if (j==0){

                                    html_data += `<tr style="background-color:${bgColor};">
                                                <td style="vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_name}</td>
                                                <td  style="vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_class}</td>
                                                <td style="text-align: center; vertical-align: top;" rowspan="${data.response_data[i].drugs.length}">${data.response_data[i].disease_UML_CUI}</td>
                                                <td>${data.response_data[i].drugs[j].drugname} <a href="https://go.drugbank.com/drugs/${data.response_data[i].drugs[j].drug_bankID}" target="_blank">(<i>id: ${data.response_data[i].drugs[j].drug_bankID}</i>)</a></td>
                                                <td>${data.response_data[i].drugs[j].atc_code}</td>
                                                <td style="text-align: center;">${data.response_data[i].drugs[j].clinical_trial}</td>
                                                <td><a href="${data.response_data[i].drugs[j].link}" target="_blank">Ref</a></td>
                                                <td style="text-align: center;">${goToNetworkURL}</td></tr>`;
                                            }
                                else{
                                    html_data += `<tr style="background-color:${bgColor};">
                                                <td>${data.response_data[i].drugs[j].drugname} <a href="https://go.drugbank.com/drugs/${data.response_data[i].drugs[j].drug_bankID}" target="_blank">(<i>id: ${data.response_data[i].drugs[j].drug_bankID}</i>)</a></td>
                                                <td>${data.response_data[i].drugs[j].atc_code}</td>
                                                <td style="text-align: center;">${data.response_data[i].drugs[j].clinical_trial}</td>
                                                <td><a href="${data.response_data[i].drugs[j].link}" target="_blank">Ref</a></td>
                                                <td style="text-align: center;">${goToNetworkURL}</td></tr>`;
                                }
                            }
                        }
                        $("#disease-result-tbody").html(html_data);
                    }
                });
        });


    });
</script>
{% endblock %}