{% load static %}
<!-- RECEPTORS -->
<li class="dropdown gpcr {% if current_site == 'gpcr' %}highlight_menu{% endif %}" id="drug_menu">

    <a tabindex="0" href="{{ hosts.gpcr }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" data-submenu aria-expanded="false">
        Drugs<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'atc-lookup' %}">Drug ATC code lookup</a></li>
        <li><a href="{% url 'drug_lookup' %}">Drug lookup
        <li class="divider"></li>
        <li><a  href="{% url 'drugstatistic' %}">Drug statistics</a></li>

    </ul>
</li>


