{% extends "home/base.html" %}
{% load static %}


{% block addon_css %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{% static '/home/css/autocomplete.css' %}">


<style>
    #drug, #drug-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    #drug-result{
        margin-top: 20px;
        width: 70%;
        margin: 20px auto;
    }

    #drug-result-table {
        border-radius: 5px;
        min-width: 100%;
    }

    #drug-result-table th:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #drug-result-table th:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #drug-result-table th{
        height: 40px;
        text-align: left;
        background-color: rgba(255, 203, 119); 
        font-weight: normal;
        color: #9c6644;
        font-size: 14px;
    }

    #drug-result-table th, td {
        padding: 0 7px;
    }

    #drug-result-table tr:nth-child(even) {
        background-color: rgba(255, 203, 119, 0.4); /* Color 1 for even rows */
    }

    #drug-result-table tr:nth-child(odd) {
        background-color: white; /* Color 2 for odd rows */
    }

    #drug p
   {
        display: block;
        width: 70%;
        background-color: rgb(255, 203, 119);
        padding: 10px;
        border-radius: 5px;
    }

    #drug form
    {
        background-color: #F2F5F6;
        padding: 3px;
        border-radius: 5px;
        width: 70%;
        height: 95px
    }

    #drug input
    {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #drug_search,
    #drug_reset
     {
        margin-right: 10px;
    }

    input.form-control {
        width: 650px;
    }

    td {
        vertical-align: middle;
    }

    

    #protein-autocomplete-results,
    #gene-autocomplete-results {
        max-width: 100%;
        overflow-x: auto;
    }

    .color1 { color: #f48c06; }
    .color2 { color: #d00000; }
    .color3 { color: #9d0208; }
    .color4 { color: #6a040f; }

    .se-definition-button {
        border: none;
        background-color: white;
    }

    #drug-search-intro {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        
    }
    #sub-drug-search-intro-text{
        width: 60%;
        text-align: justify;
    }
    #sub-drug-search-intro-image{
        width: 40%;
    }

</style>

{% endblock %}

{% block content %}
<div id="drug-search-intro">
    <div id="sub-drug-search-intro-text">
        <h3>DRUGS</h3>
        <div>
            <p>
                Drug entities are the central focus of PGxDB. Users can search for 6,259 drug-like molecules (small molecules and biologics) interacting with one or more proteins. Among these, 432 are biologics (including antibodies, vaccines, recombinant therapeutic proteins, or other biological molecules) and 5,827 are small molecules. Drugs are further classified into six categories based on their clinical development and approval status: approved, vet-approved, nutraceutical, experimental, investigational, and illicit. Most drugs have assigned ATC codes. We provide network views where drugs, their interacting proteins, and associated diseases are organized based on ATC codes. Other aspects are also presented, such as adverse drug reactions, pharmacogenomics, and statistics.
                As an example, the image on the right shows the drug-protein interactions and drug-disease associations for <a href="/drug_lookup/?drugbank_id=DB01234" target="_blank">Dexamethasone</a> (DrugBank identifier = DB01234) with 16 assigned ATC codes: 
                <a href="/atc_detail_view/?group_id=R&detail=R01AD53" target="_blank">R01AD53</a>, 
                <a href="/atc_detail_view/?group_id=D&detail=D07XB05" target="_blank">D07XB05</a>, 
                <a href="/atc_detail_view/?group_id=D&detail=R01AD03" target="_blank">R01AD03</a>, 
                <a href="/atc_detail_view/?group_id=D&detail=D10AA03" target="_blank">D10AA03</a>, 
                <a href="/atc_detail_view/?group_id=S&detail=S01CB01" target="_blank">S01CB01</a>, 
                <a href="/atc_detail_view/?group_id=S&detail=S02CA06" target="_blank">S02CA06</a>, 
                <a href="/atc_detail_view/?group_id=S&detail=S03CA01" target="_blank">S03CA01</a>, 
                <a href="/atc_detail_view/?group_id=C&detail=C05AA09" target="_blank">C05AA09</a>, 
                <a href="/atc_detail_view/?group_id=S&detail=S01CA01" target="_blank">S01CA01</a>, 
                <a href="/atc_detail_view/?group_id=D&detail=D07CB04" target="_blank">D07CB04</a>, 
                <a href="/atc_detail_view/?group_id=H&detail=H02AB02" target="_blank">H02AB02</a>, 
                <a href="/atc_detail_view/?group_id=S&detail=S01BA01" target="_blank">S01BA01</a>, 
                <a href="/atc_detail_view/?group_id=A&detail=A01AC02" target="_blank">A01AC02</a>, 
                <a href="/atc_detail_view/?group_id=S&detail=S03BA01" target="_blank">S03BA01</a>, 
                <a href="/atc_detail_view/?group_id=D&detail=D07AB19" target="_blank">D07AB19</a>, 
                <a href="/atc_detail_view/?group_id=S&detail=S02BA06" target="_blank">S02BA06</a>
                <br>
                </p>
        </div>
    </div>
    <div id="sub-drug-search-intro-image">
        <img src="/static/drug/image/drug-search-example.png" alt="Atc code example" style="width: 90%; margin-left: 40px;">
    </div>
</div>
<div id="drug">
    <p class="lookup-text">Search by <i><span style="color:#9c6644;">Drugbank ID</span></i> or <i><span style="color:#9c6644;">drug name</span></i>
        <br>
        <!-- <i style="font-weight: 300;">(Multiple inputs are allowed. Please use semi colons to separate the inputs)</i> -->
    </p>
    <form method="get" action="">
        <table class="table table-bordered table-gray table-fulltext-two-rows">
            <tbody>
                <tr>
                    <td>
                        <div style="position: relative;">
                            <input id="search_drug"
                                class="form-text form-type-textfield form-control optional ui-autocomplete-input" style="width:100%;" size="70%"
                                autocomplete="on" />
                            <div class="autocomplete-outer">
                                <div id="drug-autocomplete-results">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="h-center"><input id="submit_drug" type="submit" value="Search"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                    <td class="h-center"><input id="reset_drug" type="reset" value="Reset"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left; padding-left: 30px;">Examples: <a
                            href="{% url 'drug-lookup' %}?drugbank_id=DB00002" target='_blank' hreflang="en">DB00002</a>; 
                            <a href="{% url 'drug-lookup' %}?drugbank_id=DB00002" target='_blank' hreflang="en">Cetuximab</a>;
                            ... </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div id="drug-result">
    <p id="search_result_examples" style="margin: 20px 0 20px; font-size: 20px; font-weight: bold;">Random drug examples</p>
    <table id="drug-result-table">
        <thead>
            <tr>
                <th>Drugbank ID</th>
                <th>Drug name</th>
                <th>ATC code</th>
                <th>Drug type</th>
                <th>Clinical status</th>
                <th>Side effects</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody id="drug-result-tbody">
            {% for drug in drugs %}
                <tr>
                    <td><a target="_blank" href="/drugs_network?drug_bank_ids={{ drug.drug_bankID }}">{{ drug.drug_bankID }}</a></td>
                    <td>{{ drug.name }}</td>
                    {% if drug.atc_code != 'Not assigned' %}
                        <td>
                            {% for item in drug.atc_code %}
                                <a title="Click to show network" href="{% url 'atc-detail-view' %}?group_id={{ item.0 }}&detail={{ item }}">{{ item }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    {% else %}
                        <td>{{ drug.atc_code }}</td>
                        
                    {% endif %}
                    <td>{{ drug.drug_type }}</td>
                    <td>{{ drug.Clinical_status }}</td>
                    <td>
                    {% if drug.adr == "NA" %}
                        NA
                    {% else %}
                      {{ drug.no_of_size_effects }}  <a href="#" data-toggle="modal" data-target="#adrModal">(View Details)</a>

                        <div class="modal fade"  id="adrModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modalLabel">Adverse Drug Reactions for <i>{{ drug.name }}</i></h4>
                                        <h5 style="font-style: italic; color:#337ab7;">Adverse drug reactions below are sorted descendingly based on frequencies (in brackets) in the surveyed populations</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        {% for color, reactions in drug.adr.items %}
                                            {% for reaction, value in reactions.items %}
                                                <span style="display: inline;" class="{{ color }}">
                                                    {{ reaction }} ({{ value }}%) <button data-se-name="{{ reaction }}" data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </td>

                    <td><a title="Go to Drugbank" href="https://go.drugbank.com/drugs/{{ drug.drug_bankID }}"  target="_blank" rel="noopener noreferrer">Go to Drugbank</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

<!-- Custom modal for showing side effect definition-->
<div id="side_effect_definition" style="display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 1000000;">
    <div style="background-color: white; width: 300px; padding: 20px; margin: 100px auto; text-align: center; border-radius: 10px;">
        <p id="seText" style="font-weight: bold;"></p>
        <p id="seDefinition" style="color: #337ab7; text-align: justify;"></p>
        <button onclick="document.getElementById('side_effect_definition').style.display='none';">Close</button>
    </div>
</div>


{% endblock %}
{% block addon_js %}
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
<script>
    $(document).ready(function () {
        var autocompleteResults = $('#drug-autocomplete-results');
        $('#search_drug').autocomplete({
            source: function (request, response) {
                var term = request.term.split(";")[request.term.split(";").length -1];
                if (term.length > 2) {
                    $.ajax({
                        url: "{% url 'drug-autocomplete-view' %}",
                        data: {
                            query: term
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.suggestions.length > 0) {
                                response(data.suggestions);
                            }
                            else {
                                response(['No results found!'])
                            }
                            
                        }
                    });
                }
                
            },
            autoFocus: true,
            minLength: 3,
            select: function (event, ui) {
                var newValue = ui.item.value.split(" - ")[0];
                var current = $('#search_drug').val();
                var current_value = "";
                if (!current.includes(";")){ //fresh terms
                    prev=[];
                }
                if(!prev.includes(newValue)) {
                    prev.push(newValue);
                }
                $('#search_drug').val(prev.join(";"));
                $("#submit_drug").click();                       
                return false;
            },
            open: function (event, ui) {
                autocompleteResults.show(); 
            },
            close: function (event, ui) {
                autocompleteResults.hide(); 
            }
        });
        // Hide autocomplete results when clicking outside of the input and results
        /* $("#search_drug").on('keyup', function() {
            $.ajax({
                    url: "{% url 'drug-lookup' %}?drug="+ $(this).val(),
                    success: function (data) {
                        $("#drug-result-tbody").html('');
                        var html_data = '';
                        data.drugs.forEach(item => {
                            html_data += `<tr>
                                <td>${item.drug_bankID}</td>
                                <td>${item.name}</td>
                                <td><a title="Click to show network" href="{% url 'atc-detail-view' %}?group_id=${item.atc_code.charAt(0)}&detail=${item.atc_code}">${item.atc_code}</a></td>
                                <td>${item.drug_type}</td>
                                <td>${item.Clinical_status}</td>
                                <td>Side effects</td>
                                <td><a title="Go to Drugbank" href="https://go.drugbank.com/drugs/{{ item.drug_bankID }}"   target="_blank" rel="noopener noreferrer">Go to Drugbank</a></td>
                            </tr>`;
                        });
                        
                        $("#drug-result-tbody").html(html_data);
                    }
                });
        }); */
        var urlParams = new URLSearchParams(window.location.search);

        //case 1: drug_id is passed when the drug has no atc code --> left panel just has None, no atc hierachy tree
        if (urlParams.has('drugbank_id')) {
            console.log("urlParams.has('drugbank_id')");
            var drugbank_id = urlParams.get('drugbank_id');
            $.ajax({
                url: "{% url 'drug-lookup' %}?drug="+ drugbank_id,
                success: function (data) {
                    console.log("ajax results length: "+data.drugs.length);
                    $("#search_result_examples").html("RESULTS");
                    $("#drug-result-tbody").html('');
                    var html_data = '';
                    data.drugs.forEach(item => {
                        var atcCodeHtml = '';
                        if (item.atc_code !== 'Not assigned' && Array.isArray(item.atc_code)) {
                            item.atc_code.forEach((c, index) => {
                                atcCodeHtml += `<a title="Click to show network" href="{% url 'atc-detail-view' %}?group_id=${c.charAt(0)}&detail=${c}">${c}</a>`;
                                if (index < item.atc_code.length - 1) {
                                    atcCodeHtml += ', ';
                                }
                            });
                        } else {
                            atcCodeHtml = item.atc_code;
                        }
                        var adr_cell = '';
                        var model_body ='';
                        if (item.adr == "NA"){adr_cell="NA"}
                        else
                        {
                            item.adr_json.color1.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color1">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                            });
                            item.adr_json.color2.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color2">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                            });
                            item.adr_json.color3.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color3">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                            });
                            item.adr_json.color4.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color4">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                            });
                            adr_cell=`${item.no_of_size_effects} <a href="#" data-toggle="modal" data-target="#adrModal">(View Details)</a>
                            <div class="modal fade" id="adrModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            
                                            <h4 class="modal-title" id="modalLabel">Adverse Drug Reactions for <i>${item.name}</i></h4>
                                            <h5 style="font-style: italic; color:#337ab7;">Adverse drug reactions below are sorted descendingly based on frequencies (in brackets) in the surveyed populations</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ${model_body}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                        }
                        html_data += `<tr>
                                        <td><a target="_blank" href="/drugs_network?drug_bank_ids=${item.drug_bankID}">${item.drug_bankID}</a></td>
                                        <td>${item.name}</td>
                                        <td>${atcCodeHtml}</td>
                                        <td>${item.drug_type}</td>
                                        <td>${item.Clinical_status}</td>
                                        <td>${adr_cell}</td>
                                        <td><a title="Go to Drugbank" href="https://go.drugbank.com/drugs/${item.drug_bankID}" target="_blank" rel="noopener noreferrer">Go to Drugbank</a></td>
                                      </tr>`;
                    });
                    $("#drug-result-tbody").html(html_data);
                }
            });

         }
        $("#submit_drug").click(function() {
            document.getElementById("search_result_examples").innerHTML = "Result(s)";
        
            $.ajax({
                url: "{% url 'drug-lookup' %}?drug="+ $("#search_drug").val(),
                success: function (data) {
                    $("#drug-result-tbody").html('');
                    var html_data = '';
                    data.drugs.forEach(item => {
                        var atcCodeHtml = '';
                        if (item.atc_code !== 'Not assigned' && Array.isArray(item.atc_code)) {
                            item.atc_code.forEach((c, index) => {
                                atcCodeHtml += `<a title="Click to show network" href="{% url 'atc-detail-view' %}?group_id=${c.charAt(0)}&detail=${c}">${c}</a>`;
                                if (index < item.atc_code.length - 1) {
                                    atcCodeHtml += ', ';
                                }
                            });
                        } else {
                            atcCodeHtml = item.atc_code;
                        }
                        var adr_cell = '';
                        var model_body ='';
                        if (item.adr == "NA"){adr_cell="NA"}
                        else
                        {
                            item.adr_json.color1.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color1">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                            });
                            item.adr_json.color2.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color2">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                            });
                            item.adr_json.color3.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color3">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                            });
                            item.adr_json.color4.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color4">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                            });
                            adr_cell=`${item.no_of_size_effects} <a href="#" data-toggle="modal" data-target="#adrModal">(View Details)</a>
                            <div class="modal fade" id="adrModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modalLabel">Adverse Drug Reactions for <i>${item.name}</i></h4>
                                            <h5 style="font-style: italic; color:#337ab7;">Adverse drug reactions below are sorted descendingly based on frequencies (in brackets) in the surveyed populations</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ${model_body}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>`
                        }
                        html_data += `<tr>
                                        <td><a target="_blank" href="/drugs_network?drug_bank_ids=${item.drug_bankID}">${item.drug_bankID}</a></td>
                                        <td>${item.name}</td>
                                        <td>${atcCodeHtml}</td>
                                        <td>${item.drug_type}</td>
                                        <td>${item.Clinical_status}</td>
                                        <td>${adr_cell}</td>
                                        <td><a title="Go to Drugbank" href="https://go.drugbank.com/drugs/${item.drug_bankID}" target="_blank" rel="noopener noreferrer">Go to Drugbank</a></td>
                                      </tr>`;
                    });
                    $("#drug-result-tbody").html(html_data);
                }
            });
        });
        
        $("#reset_drug").click(function() {
            document.getElementById("search_result_examples").innerHTML = "Random drug examples";
        
            $.ajax({
                    url: "{% url 'drug-lookup' %}?drug=default",
                    success: function (data) {
                        $("#drug-result-tbody").html('');
                        var html_data = '';
                        data.drugs.forEach(item => {
                            var atcCodeHtml = '';
                            if (item.atc_code !== 'Not assigned' && Array.isArray(item.atc_code)) {
                                item.atc_code.forEach((c, index) => {
                                    atcCodeHtml += `<a title="Click to show network" href="{% url 'atc-detail-view' %}?group_id=${c.charAt(0)}&detail=${c}">${c}</a>`;
                                    if (index < item.atc_code.length - 1) {
                                        atcCodeHtml += ', ';
                                    }
                                });
                            } else {
                                atcCodeHtml = item.atc_code;
                            }

                            var adr_cell = '';
                            var model_body ='';
                            
                            if (item.adr == "NA"){adr_cell="NA"}
                            else
                            {
                                item.adr_json.color1.forEach((c) => {
                                model_body += `<span style="display: inline;" class="color1">
                                                    ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                </span>`;
                                });
                                item.adr_json.color2.forEach((c) => {
                                    model_body += `<span style="display: inline;" class="color2">
                                                        ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                    </span>`;
                                });
                                item.adr_json.color3.forEach((c) => {
                                    model_body += `<span style="display: inline;" class="color3">
                                                        ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                    </span>`;
                                });
                                item.adr_json.color4.forEach((c) => {
                                    model_body += `<span style="display: inline;" class="color4">
                                                        ${c}%) <button data-se-name=${c.split("(")[0].trim()} data-remote-url="{% url 'get-se-definition' %}" class="se-definition-button"><span class="glyphicon glyphicon-info-sign"></span></button><br>
                                                    </span>`;
                                });
                                adr_cell=`${item.no_of_size_effects} <a href="#" data-toggle="modal" data-target="#adrModal">(View Details)</a>
                                <div class="modal fade" id="adrModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="modalLabel">Adverse Drug Reactions for <i>${item.name}</i></h4>
                                                <h5 style="font-style: italic; color:#337ab7;">Adverse drug reactions below are sorted descendingly based on frequencies (in brackets) in the surveyed populations</h5>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ${model_body}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                            }
                            html_data += `<tr>
                                                <td><a target="_blank" href="/drugs_network?drug_bank_ids=${item.drug_bankID}">${item.drug_bankID}</a></td>
                                                <td>${item.name}</td>
                                                <td>${atcCodeHtml}</td>
                                                <td>${item.drug_type}</td>
                                                <td>${item.Clinical_status}</td>
                                                <td>${adr_cell}</td>
                                                <td><a title="Go to Drugbank" href="https://go.drugbank.com/drugs/${item.drug_bankID}" target="_blank" rel="noopener noreferrer">Go to Drugbank</a></td>
                                            </tr>`;
                            });
                        $("#drug-result-tbody").html(html_data);
                    }
                });
        });

        $("form").submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting normally
        });

        function showAlert(se_name, definition) {
            document.getElementById('seText').innerHTML = se_name;
            document.getElementById('seDefinition').innerHTML = definition;
            document.getElementById('side_effect_definition').style.display = 'block';
        }

        // Event handler for button clicks
        $(document).on('click', '.se-definition-button', function() {
            // Retrieve data attributes from the button
            var seName = $(this).data('se-name');
            var remoteUrl = $(this).data('remote-url');

            // Perform the AJAX request
            $.ajax({
                url: remoteUrl,
                type: 'GET',
                data: {
                    'se-name': seName
                },
                success: function(response) {
                    showAlert(seName, response.se_definition); 
                },
                error: function() {
                    alert('Error retrieving the data.');
                }
            });
        });

    });
</script>

{% endblock %}