{% extends "home/base.html" %}
{% load static %}

{% block content %}

<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-modal-label"
    aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="about-modal-label">Give feedback</h2>
                <button id="closeToHome" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" >
                <p style="text-align: justify; font-size: large; ">
                    Thank you for using PGx. We welcome your suggestions or feedback on existing resources. Please send them to the lead developer of PGx, Nguyen Trinh Trung Duong, (<a href="mailto:trung.trinh@sund.ku.dk" style="color: #0582ca;"><i>trung.trinh@sund.ku.dk</i></a>) or report bugs on our GitHub repository at <a href="https://github.com/Duong-NguyenTrinhTrung/pgx-db/issues" style="color: #0582ca;"><i>https://github.com/Duong-NguyenTrinhTrung/pgx-db/issues</i></a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block addon_js %}
<script>
    var csrf_token = "{{ csrf_token }}";
</script>

<script>

    $(document).ready(function () {
        $('#about-modal').modal('show');

    });

    document.addEventListener("DOMContentLoaded", function () {
        var closeBtn = document.getElementById("closeToHome");
        var urlOpen = "/";
        
        closeBtn.addEventListener("click", function () {
            window.location.href = urlOpen;
        });

        $(document).click(function(e) {
            if (!$(e.target).closest('#modal-content').length) {
                window.location.href = urlOpen;
            }
        });
    });

</script>
{% endblock %}