{% load static %}

<!-- G PROTEINS -->
<li class="dropdown gprotein {% if current_site == 'gprotein' %}highlight_menu{% endif %}" id="target_menu">
    <a href="{{ hosts.gprotein }}/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        &nbsp;&nbsp;Targets<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'target-lookup' %}">Target browser</a></li>
        <li class="divider"></li>
        <li><a role="button" href="{% url 'target-statistics' %}" >Target statistics</a></li>
    </ul>
</li>
