{% extends "home/base.html" %}
{% load static %}


{% block addon_css %}
<link rel="stylesheet" href="{% static '/home/css/font.awesome.all.min.css' %}">
<link rel="stylesheet" href="{% static '/home/css/regular.min.css' %}">
<link rel="stylesheet" href="{% static '/home/css/solid.min.css' %}">

<style>
    #target, #target-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    #target-result{
        margin-top: 20px;
        width: 70%;
        margin: 20px auto;
    }

    #target-result-table {
        border-radius: 5px;
        width: 100%;
    }

    #target-result-table th:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #target-result-table th:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    /* :not(:last-child) */
    #target-result-table tr td {
        vertical-align: top;
    }



    #target-result-table th{
        height: 40px;
        text-align: center;
        background-color: rgb(142, 190, 235);
        font-weight: normal;
        color: white;
        font-size: 14px;
    }

    #target-result-table th, td {
        /* border: 1px solid rgb(91, 142, 188);
        border: 1px solid rgb(91, 142, 188); */
        padding: 0 7px;
    }

    /* Apply alternating row colors */
    #target-result-table tr:nth-child(even) {
        background-color: rgba(197, 225, 250, 0.6); /* Color 1 for even rows */
    }

    #target-result-table tr:nth-child(odd) {
        /* background-color: rgba(241, 124, 14, 0.2); */
        background-color: white; /* Color 2 for odd rows */
    }

    /* Add background colors to the form and the paragraph */
    #target p
   {
        display: block;
        width: 70%;
        background-color: rgb(142, 190, 235);
        /* Use your desired pastel background color */
        padding: 10px;
        /* Add some padding to the paragraph */
        border-radius: 5px;
        /* Optional: Add rounded corners to the paragraph */
    }

    #target form
    {
        background-color: #F2F5F6;
        /* Use a different pastel background color for the form if desired */
        padding: 3px;
        /* Add some padding to the form */
        border-radius: 5px;
        /* Optional: Add rounded corners to the form */
        width: 70%;
        height: 95px
    }

    /* Style the input elements and buttons */
    #target input
    {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Add some spacing between buttons */
    #target_search,
    #target_reset
     {
        margin-right: 10px;
    }

    input.form-control {
        width: 650px;
    }

    td {
        /* text-align: center;  */
        vertical-align: middle;
        /* Vertically center the content within the td */
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .autocomplete-outer{
        display: none;
        width: 650px;
        max-height: 400px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        position: absolute;
        top: 100%;
        left: 0;
    }

    #protein-autocomplete-results,
    #gene-autocomplete-results {
        max-width: 100%;
        overflow-x: auto;
    }
</style>

{% endblock %}

{% block content %}
<div id="target">
    <p>Search by <i><span style="color:#f8f9fa;">UniProt accession number</span></i>, <i><span
                style="color:#f8f9fa;">protein name</span></i>, <i><span
                    style="color:#f8f9fa;"> genename</span></i> or by <i><span
                        style="color:#f8f9fa;">Ensembl gene ID</span></i></p>
    <form method="get" action="">
        <table class="table table-bordered table-gray table-fulltext-two-rows">
            <tbody>
                <tr>
                    <td>
                        <div style="position: relative;">
                            <input id="search_protein"
                                class="form-text form-type-textfield form-control optional ui-autocomplete-input" style="width:100%;" size="70%"
                                autocomplete="on" />
                            <div class="autocomplete-outer">
                                <div id="protein-autocomplete-results">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="h-center"><input id="submit_protein" type="submit" value="Search"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                    <td class="h-center"><input id="reset_protein" type="reset" value="Reset"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left; padding-left: 30px;">Examples: <a
                            href="{% url 'target-lookup' %}?uniprot_id=Q9H222" target='_blank' hreflang="en">Q9H222</a>; 
                            <a href="{% url 'target-lookup' %}?uniprot_id=Q9H222" target='_blank' hreflang="en">ATP-binding cassette sub-family G member 5 (EC 7.6.2.-) (Sterolin-1)</a>;
                            <a href="{% url 'target-lookup' %}?uniprot_id=Q9H222" target='_blank' hreflang="en">ABCG5</a>;
                            <a href="{% url 'target-lookup' %}?uniprot_id=Q9H222" target='_blank' hreflang="en">ENSG00000138075</a>
                            ; ... </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div id="target-result">

    <table id="target-result-table">
        <thead>
            <tr>
                <th style="text-align: left;">UniProtID</th>
                <th style="max-width: 200px;">Protein name</th>
                <th style="text-align: left;">Gene ID</th>
                <th style="text-wrap: nowrap; text-align: left;">Gene symbol</th>
                <th style="text-align: left;">Details</th>
                <th style="max-width: 200px;">Interacting drugs </th>
            </tr>
        </thead>
        <tbody id="target-result-tbody">
            {% for item in items %}
                <tr>
                    <td>{{ item.uniprot_ID }}</td>
                    <td style="max-width: 200px;">{{ item.protein_name }}</td>
                    <td>{{ item.geneID }}</td>
                    <td>{{ item.genename }}</td>
                    <td><a href="{% url 'gene:gene' slug=item.geneID %}"  target="_blank" rel="noopener noreferrer"><i>Link</i></a></td>
                    <td style="max-width: 200px;">
                    {% for drug in item.drug_data %}
                        {% if drug.atc_code %}
                            <i class="fa fa-pills fa-solid"></i> <a href="{% url 'atc-detail-view' %}?group_id={{drug.atc_code.0}}&detail={{drug.atc_code}}"
                                >{{drug.drug_name}}</br>
                            </a>
                        {% else %}
                            <!-- <i class="fa fa-pills fa-solid"></i> <a href="{% url 'get-drug-association' %}?drug_id={{drug.drug_id}}" -->
                            <i class="fa fa-pills fa-solid"></i> <a href="{% url 'atc-detail-view' %}?group_id={{drug.atc_code.0}}&detail={{drug.atc_code}}"
                                >{{drug.drug_name}}</br>
                            </a>
                        {% endif %}
                    {% endfor %}
                    </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}
{% block addon_js %}
<script>
    $(document).ready(function () {
        var autocompleteResults = $('#protein-autocomplete-results');
        $('#search_protein').autocomplete({
            minLength: 3,
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'protein-autocomplete-view' %}",
                    data: {
                        query: request.term
                    },
                    dataType: 'json',
                    success: function (data) {
                        response(data.suggestions);
                    }
                });
            },
            autoFocus: true,
            select: function (event, ui) {
                $('#search_protein').val(ui.item.value);
                $("#submit_protein").click();
                return false;
            },
            open: function (event, ui) {
                autocompleteResults.show(); 
            },
            close: function (event, ui) {
                autocompleteResults.hide(); 
            }
        });
        // Hide autocomplete results when clicking outside of the input and results
        
        //  $("#search_protein").on('keyup', function() {
        //     if ($(this).val().lenth >= 3){
        //         $.ajax({
        //             url: "{% url 'target-lookup' %}?target="+ $(this).val(),
        //             success: function (data) {
        //                 console.log(data.items);
        //                 $("#target-result-tbody").html('');
        //                 var html_data = '';
        //                 data.items.forEach(item => {
        //                     var drug_list = [];
        //                     for (var j = 0; j<item.drug_data.length;j++) {
        //                         if (item.drug_data[j].atc_code)
        //                         {
        //                             drug_list.push(`<i class="fa fa-pills fa-solid"></i> <a href="{% url 'atc-detail-view' %}?group_id=${item.drug_data[j].atc_code.charAt(0)}&detail=${item.drug_data[j].atc_code}"> ${item.drug_data[j].drug_name}</a></br>`);
        //                         }
        //                         else
        //                         {
        //                             drug_list.push(`<i class="fa fa-pills fa-solid"></i> <a href="{% url 'get-drug-association' %}?drug_id=${item.drug_data[j].drug_id}">${item.drug_data[j].drug_name}</a></br>`);
        //                         }
        //                     }
        //                     html_data += `<tr>
        //                         <td>${item.uniprot_ID}</td>
        //                         <td style="max-width: 200px;">${item.protein_name}</td>
        //                         <td>${item.geneID}</td>
        //                         <td>${item.genename}</td>
        //                         <td><a href="/gene/${item.geneID}"  target="_blank" rel="noopener noreferrer"><i>Link</i></a></td>
        //                         <td style="max-width: 200px;">${drug_list.join('')}</td>
        //                     </tr>`;
        //                 });
                        
        //                 $("#target-result-tbody").html(html_data);
        //             }
        //         });
        //     }
            
        // }); 

        var urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('uniprot_id')) {
            var uniprot_id = urlParams.get('uniprot_id');
            $.ajax({
                    url: "{% url 'target-lookup' %}?target="+uniprot_id,
                    success: function (data) {
                        // console.log(data.proteins);
                        $("#target-result-tbody").html('');
                        var html_data = '';
                        data.items.forEach(item => {
                            var drug_list = [];
                            for (var j = 0; j<item.drug_data.length;j++) {
                                if (item.drug_data[j].atc_code)
                                {
                                    drug_list.push(`<i class="fa fa-pills fa-solid"></i> <a href="{% url 'atc-detail-view' %}?group_id=${item.drug_data[j].atc_code.charAt(0)}&detail=${item.drug_data[j].atc_code}"> ${item.drug_data[j].drug_name}</a></br>`);
                                }
                                else
                                {
                                    drug_list.push(`<i class="fa fa-pills fa-solid"></i> <a href="{% url 'get-drug-association' %}?drug_id=${item.drug_data[j].drug_id}">${item.drug_data[j].drug_name}</a></br>`);
                                }
                            }
                            html_data += `<tr>
                                <td style="max-width: 200px;">${item.uniprot_ID}</td>
                                <td>${item.protein_name}</td>
                                <td>${item.geneID}</td>
                                <td>${item.genename}</td>
                                <td><a href="/gene/${item.geneID}"  target="_blank" rel="noopener noreferrer"><i>Link</i></a></td>
                                <td style="max-width: 200px;">${drug_list.join('')}</td>
                            </tr>`;
                        });
                        $("#target-result-tbody").html(html_data);
                    }
                });
            }
        

        $("#submit_protein").click(function() {
            var target = $("#search_protein").val();
            var encodedTarget = encodeURIComponent(target);
            $.ajax({
                    url: "{% url 'target-lookup' %}?target="+ encodedTarget,
                    success: function (data) {
                        // console.log(data.proteins);
                        $("#target-result-tbody").html('');
                        var html_data = '';
                        data.items.forEach(item => {
                            var drug_list = [];
                            for (var j = 0; j<item.drug_data.length;j++) {
                                if (item.drug_data[j].atc_code)
                                {
                                    drug_list.push(`<i class="fa fa-pills fa-solid"></i> <a href="{% url 'atc-detail-view' %}?group_id=${item.drug_data[j].atc_code.charAt(0)}&detail=${item.drug_data[j].atc_code}"> ${item.drug_data[j].drug_name}</a></br>`);
                                }
                                else
                                {
                                    drug_list.push(`<i class="fa fa-pills fa-solid"></i> <a href="{% url 'get-drug-association' %}?drug_id=${item.drug_data[j].drug_id}">${item.drug_data[j].drug_name}</a></br>`);
                                }
                            }
                            html_data += `<tr>
                                <td style="max-width: 200px;">${item.uniprot_ID}</td>
                                <td>${item.protein_name}</td>
                                <td>${item.geneID}</td>
                                <td>${item.genename}</td>
                                <td><a href="/gene/${item.geneID}"  target="_blank" rel="noopener noreferrer"><i>Link</i></a></td>
                                <td style="max-width: 200px;">${drug_list.join('')}</td>
                            </tr>`;
                        });
                        $("#target-result-tbody").html(html_data);
                    }
                });
        });
        
        $("#reset_protein").click(function() {
            $.ajax({
                    url: "{% url 'target-lookup' %}?target=default",
                    // method: "GET",
                    // dataType: "html", // Specify the expected response type
                    success: function (data) {
                        console.log("data.proteins: "+data.proteins);
                        $("#target-result-tbody").html('');
                        var html_data = '';
                        data.items.forEach(item => {
                            var drug_list = [];
                            for (var j = 0; j<item.drug_data.length;j++) {
                                if (item.drug_data[j].atc_code)
                                {
                                    drug_list.push(`<i class="fa fa-pills fa-solid"></i> <a href="{% url 'atc-detail-view' %}?group_id=${item.drug_data[j].atc_code.charAt(0)}&detail=${item.drug_data[j].atc_code}"> ${item.drug_data[j].drug_name}</a></br>`);
                                }
                                else
                                {
                                    drug_list.push(`<i class="fa fa-pills fa-solid"></i> <a href="{% url 'get-drug-association' %}?drug_id=${item.drug_data[j].drug_id}">${item.drug_data[j].drug_name}</a></br>`);
                                }
                            }
                            html_data += `<tr>
                                <td>${item.uniprot_ID}</td>
                                <td style="max-width: 200px;">${item.protein_name}</td>
                                <td>${item.geneID}</td>
                                <td>${item.genename}</td>
                                <td><a href="/gene/${item.geneID}"  target="_blank" rel="noopener noreferrer"><i>Link</i></a></td>
                                <td style="max-width: 200px;">${drug_list.join('')}</td>
                            </tr>`;
                        });
                        $("#target-result-tbody").html(html_data);
                    }
                });
        });

        // Handle the form submission when the form is submitted
        $("form").submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting normally
        });

    });
</script>

{% endblock %}