{% extends "home/base.html" %}
{% load static %}


{% block addon_css %}

<style>
    #variant, #variant-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    #variant-result{
        
        width: 70%;
        margin: 20px auto;
    }

    #variant-result-table {
        border-radius: 5px;
        width: 100%;
        
    }

    #variant-result-table th:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #variant-result-table th:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #variant-result-table th{
        height: 40px;
        
        background-color: #ff99ac;
        font-weight: normal;
        color: white;
        font-size: 14px;
    }

    #variant-result-table th, td {
        padding: 0 7px;
        text-align: left;
    }

    /* Apply alternating row colors */
    #variant-result-table tr:nth-child(even) {
        background-color: #fae0e4; /* Color 1 for even rows */
    }

    #variant-result-table tr:nth-child(odd) {
        /* background-color: rgba(241, 124, 14, 0.2); */
        background-color: white; /* Color 2 for odd rows */
    }

    /* Add background colors to the form and the paragraph */
    #variant p
   {
        display: block;
        width: 70%;
        background-color: rgb(142, 190, 235);
        /* Use your desired pastel background color */
        padding: 10px;
        /* Add some padding to the paragraph */
        border-radius: 5px;
        /* Optional: Add rounded corners to the paragraph */
    }

    #variant form
    {
        background-color: #F2F5F6;
        /* Use a different pastel background color for the form if desired */
        padding: 3px;
        /* Add some padding to the form */
        border-radius: 5px;
        /* Optional: Add rounded corners to the form */
        width: 70%;
        height: 95px
    }

    /* Style the input elements and buttons */
    #variant input
    {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Add some spacing between buttons */
    #variant_search,
    #variant_reset
     {
        margin-right: 10px;
    }

    input.form-control {
        width: 650px;
    }

    td {
        /* text-align: center;  */
        vertical-align: middle;
        /* Vertically center the content within the td */
    }

    .autocomplete-outer{
        display: none;
        width: 650px;
        max-height: 400px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        position: absolute;
        top: 100%;
        left: 0;
    }
    
    #variant
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px
            /* height: 100vh; Make sure the divs take the full viewport height */
    }

    #variant {
        margin-top: 80px;
    }

    /* Add background colors to the form and the paragraph */
    #variant p
    {
        display: block;
        width: 70%;
        background-color: #ff99ac;
        /* Use your desired pastel background color */
        padding: 10px;
        /* Add some padding to the paragraph */
        border-radius: 5px;
        /* Optional: Add rounded corners to the paragraph */
    }

    #variant form
     {
        background-color: #F2F5F6;
        /* Use a different pastel background color for the form if desired */
        padding: 3px;
        /* Add some padding to the form */
        border-radius: 5px;
        /* Optional: Add rounded corners to the form */
        width: 70%;
        height: 95px
    }

    /* Style the input elements and buttons */
    #variant input
     {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Add some spacing between buttons */
    #variant_search,
    #variant_reset
    {
        margin-right: 10px;
    }

    input.form-control {
        width: 650px;
    }

    td {
        /* text-align: center;  */
        vertical-align: middle;
        /* Vertically center the content within the td */
    }

    .autocomplete-outer{
        display: none;
        width: 650px;
        max-height: 400px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        position: absolute;
        top: 100%;
        left: 0;
    }

    #variant-autocomplete-results
    {
        max-width: 100%;
        overflow-x: auto;
    }

    #variant-search-intro {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 40px;
    }
    #sub-variant-search-intro-text{
        width: 55%;
        text-align: justify;
    }
    #sub-variant-search-intro-image{
        width: 45%;
    }

</style>
{% endblock %}
{% block content %}

<div id="variant-search-intro">
    <div id="sub-variant-search-intro-text">
            <h3>VARIANTS</h3>
            <p>
                Users can search for variant data occurring on our collected genes. For each variant, we retrieved its basic annotation (gene, transcript, protein position, wildtype and mutant amino acid, codons), its association study statistics (sourced from <a href="https://app.genebass.org/" target="_blank">Genebass</a> ) and corresponding variant effect prediction scores (sourced from <a href="https://www.ensembl.org/index.html" target="_blank">Ensembl</a> ) from over 41 algorithms, including SIFT, Polyphen, PrimateAI, and AlphaMissense, normalized to facilitate comparisons.
                As an example, the image on the right shows violin plots summarizing effect prediction scores of 10 variants with means of these scores >= 0.7 in gene <a href="/gene/gene_detail/ENSG00000120659/" target="_blank">TNFSF11</a>
                <br>
                </p>
    </div>
    <div id="sub-variant-search-intro-image">
        <img src="/static/variant/images/variant-plot.png" alt="Atc code example" style="width: 100%; margin-left: 10px;">
    </div>
</div>

<div id="variant">
    <p>Enter a genename, gene Ensembl ID or variant in <i><span style="color:#f8f9fa;">Ensembl</span></i> format</p>
    <form method="get" action="">
        <table class="table table-bordered table-gray table-fulltext-two-rows">
            <tbody>
                <tr>
                    <td>
                        <div style="position: relative;">
                            <input id="search_variant"
                                class="form-text form-type-textfield form-control optional ui-autocomplete-input" style="width:100%;" size="70%"
                                autocomplete="on" />
                            <div class="autocomplete-outer">
                                <div id="variant-autocomplete-results">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="h-center"><input id="submit_variant" type="submit" value="Search"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                    <td class="h-center"><input id="reset_variant" type="reset" value="Reset"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left; padding-left: 30px;">Kindly note input format for variant: <span style="color: #0582ca"><i>Chromosome_Coordinate_Reference/Alternative allele</i></span>, e.g., <a
                            href="{% url 'variant-lookup' %}?variant_marker=20_50581449_C/G" target='_blank' hreflang="en">20_50581449_C/G</a></td>
                </tr>
                
            </tbody>
        </table>
    </form>
</div>

<div id="variant-result" style="margin-top: 40px;">
    <p id="search_result_examples" style="margin: 20px 0 20px; font-size: 20px; font-weight: bold;">Random variant examples</p>
    <table id="variant-result-table">
        <thead>
            <tr>
                <th>Variant ID</th>
                <th>Gene ID</th>
                <th>Gene symbol</th>
                <th>Primary transcript</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody id="variant-result-tbody">
            {% for variant in variants %}
                <tr>
                    <td>{{variant.VariantMarker}}</td>
                    <td>{{variant.geneID}}</td>
                    <td>{{variant.genename}}</td>
                    <td>{{variant.pt}}</td>
                    <td><a href="/gene/gene_detail/{{variant.geneID}}?variant_marker={{variant.VariantMarker}}" target="_blank" rel="noopener noreferrer"><i>See variant effect scores and associations</i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block addon_js %}
<script>
    $(document).ready(function () {
        var autocompleteResults = $('#variant-autocomplete-results');
        $('#search_variant').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'variant-autocomplete-view' %}",
                    data: {
                        query: request.term
                    },
                    dataType: 'json',
                    success: function (data) {
                        response(data.suggestions);
                    }
                });
            },
            autoFocus: true,
            minLength: 3,
            select: function (event, ui) {
                if (ui.item.value.includes("Show all results")) {
                    $('#search_variant').val(this.val());
                    // 
                } 
                else {
                    $('#search_variant').val(ui.item.value);
                    $("#submit_variant").click();
                }
                return false;
            },
            open: function (event, ui) {
                autocompleteResults.show(); 
            },
            close: function (event, ui) {
                autocompleteResults.hide(); 
            }
        });

        // Hide autocomplete results when clicking outside of the input and results
        /*
        $("#search_variant").on('keyup', function () {
            var search_term = $(this).val().split("-")[0].trim();
            if (search_term.length>=2){
                $.ajax({
                    url: "{% url 'variant-lookup' %}?variant="+ search_term,
                    success: function(data){
                        $("#variant-result-tbody").html("");
                        var html_data = "";
                        data.variants.forEach(item => {
                            html_data+=`<tr>
                                <td>${item.VariantMarker}</td>
                                <td>${item.geneID}</td>
                                <td>${item.genename}</td>
                                <td>${item.pt}</td>
                                <td><a href="/gene/${item.geneID}" target="_blank" rel="noopener noreferrer"><i>See variant effect scores and associations</i></a></td>
                            </tr>`;
                        });
                        $("#variant-result-tbody").html(html_data);
                    }
                })
            }
        }); */

        var urlParams = new URLSearchParams(window.location.search);

        //case 1: drug_id is passed when the drug has no atc code --> left panel just has None, no atc hierachy tree
        if (urlParams.has('variant_marker')) {
            var variant_marker = urlParams.get('variant_marker');
            var url= "{% url 'variant-lookup' %}?variant_id=" + variant_marker;
            $.ajax({
                url: url,
                method: "GET",
                
                success: function(data){
                    $("#variant-result-tbody").html("");
                    var html_data = "";
                    data.variants.forEach(item => {
                        html_data+=`<tr>
                            <td>${item.VariantMarker}</td>
                            <td>${item.geneID}</td>
                            <td>${item.genename}</td>
                            <td>${item.pt}</td>
                            <td><a href="/gene/gene_detail/${item.geneID}?variant_marker=${item.VariantMarker}" target="_blank" rel="noopener noreferrer"><i>See variant effect scores and associations</i></a></td>
                        </tr>`;
                    });
                    $("#variant-result-tbody").html(html_data);
                },
                error: function(error){
                    console.error("Error:", error);
                }
            });
        }
        function variant_search_all() {
         
            var variant_id = $("#search_variant").val().split(" ")[0].trim();
            var method = "GET";
            var url= "{% url 'variant-lookup' %}?variant_id=" + variant_id;

            $.ajax({
                url: url,
                method: method,
                
                success: function(data){
                    $("#variant-result-tbody").html("");
                    var html_data = "";
                    data.variants.forEach(item => {
                        html_data+=`<tr>
                            <td>${item.VariantMarker}</td>
                            <td>${item.geneID}</td>
                            <td>${item.genename}</td>
                            <td>${item.pt}</td>
                            <td><a href="/gene/gene_detail/${item.geneID}?variant_marker=${item.VariantMarker}" target="_blank" rel="noopener noreferrer"><i>See variant effect scores and associations</i></a></td>
                        </tr>`;
                    });
                    $("#variant-result-tbody").html(html_data);
                },
                error: function(error){
                    console.error("Error:", error);
                }
            });
        }
        function variant_search(){
            document.getElementById("search_result_examples").innerHTML = "Result(s)";
        
            var variant_id = $("#search_variant").val().split(" ")[0].trim();
            var method = "GET";
            var url= "{% url 'variant-lookup' %}?variant_id=" + variant_id;

            $.ajax({
                url: url,
                method: method,
                
                success: function(data){
                    $("#variant-result-tbody").html("");
                    var html_data = "";
                    data.variants.forEach(item => {
                        html_data+=`<tr>
                            <td>${item.VariantMarker}</td>
                            <td>${item.geneID}</td>
                            <td>${item.genename}</td>
                            <td>${item.pt}</td>
                            <td><a href="/gene/gene_detail/${item.geneID}?variant_marker=${item.VariantMarker}" target="_blank" rel="noopener noreferrer"><i>See variant effect scores and associations</i></a></td>
                        </tr>`;
                    });
                    $("#variant-result-tbody").html(html_data);
                },
                error: function(error){
                    console.error("Error:", error);
                }
            });
        }

        function variant_reset(){
            document.getElementById("search_result_examples").innerHTML = "Random variant examples";
        
            var method = "GET";
            var url= "{% url 'variant-lookup' %}?variant_id=default";
            $.ajax({
                url: url,
                method: method,
                success: function(data){
                    console.log("variant_reset ajax success , data = "+ data);
                    $("#variant-result-tbody").html("");
                    var html_data = "";
                    data.variants.forEach(item => {
                        html_data+=`<tr>
                            <td>${item.VariantMarker}</td>
                            <td>${item.geneID}</td>
                            <td>${item.genename}</td>
                            <td>${item.pt}</td>
                            <td><a href="/gene/gene_detail/${item.geneID}?variant_marker=${item.VariantMarker}" target="_blank" rel="noopener noreferrer"><i>See variant effect scores and associations</i></a></td>
                        </tr>`;
                    });
                    $("#variant-result-tbody").html(html_data);
                },
                error: function(error){
                    console.error("Error:", error);
                }
            });
        }
       
        // Handle the form submission when the "Search" button is clicked
        $("#submit_variant").click(function () {
            variant_search();
        });
        
        // Handle the form submission when the "Search" button is clicked
        $("#reset_variant").click(function () {
            variant_reset();
        });

        // Handle the form submission when the form is submitted
        $("form").submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting normally
        });
        });

</script>
{% endblock %}