{% extends "home/base.html" %}
{% load static %}


{% block addon_css %}

<style>
    #variant, #variant-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    #variant-result{
        margin-top: 20px;
        width: 70%;
        margin: 20px auto;
    }

    #variant-result-table {
        border-radius: 5px;
        width: 100%;
        
    }

    #variant-result-table th:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #variant-result-table th:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #variant-result-table th{
        height: 40px;
        
        background-color: rgb(255, 143, 171);
        font-weight: normal;
        color: white;
        font-size: 14px;
    }

    #variant-result-table th, td {
        padding: 0 7px;
        text-align: left;
    }

    /* Apply alternating row colors */
    #variant-result-table tr:nth-child(even) {
        background-color: rgba(255, 143, 171, 0.2); /* Color 1 for even rows */
    }

    #variant-result-table tr:nth-child(odd) {
        /* background-color: rgba(241, 124, 14, 0.2); */
        background-color: white; /* Color 2 for odd rows */
    }

    /* Add background colors to the form and the paragraph */
    #variant p
   {
        display: block;
        width: 70%;
        background-color: rgb(142, 190, 235);
        /* Use your desired pastel background color */
        padding: 10px;
        /* Add some padding to the paragraph */
        border-radius: 5px;
        /* Optional: Add rounded corners to the paragraph */
    }

    #variant form
    {
        background-color: #F2F5F6;
        /* Use a different pastel background color for the form if desired */
        padding: 3px;
        /* Add some padding to the form */
        border-radius: 5px;
        /* Optional: Add rounded corners to the form */
        width: 70%;
        height: 95px
    }

    /* Style the input elements and buttons */
    #variant input
    {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Add some spacing between buttons */
    #variant_search,
    #variant_reset
     {
        margin-right: 10px;
    }

    input.form-control {
        width: 650px;
    }

    td {
        /* text-align: center;  */
        vertical-align: middle;
        /* Vertically center the content within the td */
    }

    .autocomplete-outer{
        display: none;
        width: 650px;
        max-height: 400px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        position: absolute;
        top: 100%;
        left: 0;
    }
    
    #variant
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px
            /* height: 100vh; Make sure the divs take the full viewport height */
    }

    #variant {
        margin-top: 80px;
    }

    /* Add background colors to the form and the paragraph */
    #variant p
    {
        display: block;
        width: 70%;
        background-color: rgb(255, 143, 171);
        /* Use your desired pastel background color */
        padding: 10px;
        /* Add some padding to the paragraph */
        border-radius: 5px;
        /* Optional: Add rounded corners to the paragraph */
    }

    #variant form
     {
        background-color: #F2F5F6;
        /* Use a different pastel background color for the form if desired */
        padding: 3px;
        /* Add some padding to the form */
        border-radius: 5px;
        /* Optional: Add rounded corners to the form */
        width: 70%;
        height: 95px
    }

    /* Style the input elements and buttons */
    #variant input
     {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Add some spacing between buttons */
    #variant_search,
    #variant_reset
    {
        margin-right: 10px;
    }

    input.form-control {
        width: 650px;
    }

    td {
        /* text-align: center;  */
        vertical-align: middle;
        /* Vertically center the content within the td */
    }

    .autocomplete-outer{
        display: none;
        width: 650px;
        max-height: 400px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        position: absolute;
        top: 100%;
        left: 0;
    }

    #variant-autocomplete-results
    {
        max-width: 100%;
        overflow-x: auto;
    }
</style>
{% endblock %}



{% block content %}
<div id="variant">
    <p>Enter a variant using <i><span style="color:#f8f9fa;">Ensembl</span></i> format</p>
    <form method="get" action="">
        <table class="table table-bordered table-gray table-fulltext-two-rows">
            <tbody>
                <tr>
                    <td>
                        <div style="position: relative;">
                            <input id="search_variant"
                                class="form-text form-type-textfield form-control optional ui-autocomplete-input" style="width:100%;" size="70%"
                                autocomplete="on" />
                            <div class="autocomplete-outer">
                                <div id="variant-autocomplete-results">
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="h-center"><input id="submit_variant" type="submit" value="Search"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                    <td class="h-center"><input id="reset_variant" type="reset" value="Reset"
                            class="button js-form-submit form-submit form-type-submit btn btn-default btn-block"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: left; padding-left: 30px;">Examples: <a
                            href="/gene/ENSG00000196396/" target='_blank' hreflang="en">20_50581449_C/G</a></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div id="variant-result">
    <table id="variant-result-table">
        <thead>
            <tr>
                <th>Variant ID</th>
                <th>Gene ID</th>
                <th>Gene symbol</th>
                <th>Primary transcript</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody id="variant-result-tbody">
            {% for variant in variants %}
                <tr>
                    <td>{{variant.VariantMarker}}</td>
                    <td>{{variant.geneID}}</td>
                    <td>{{variant.genename}}</td>
                    <td>{{variant.pt}}</td>
                    <td><a href="/gene/{{variant.geneID}}" target="_blank" rel="noopener noreferrer">Link</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block addon_js %}
<script>
    $(document).ready(function () {
        var autocompleteResults = $('#variant-autocomplete-results');
        $('#search_variant').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'variant_autocomplete_view' %}",
                    data: {
                        query: request.term
                    },
                    dataType: 'json',
                    success: function (data) {
                        response(data.suggestions);
                    }
                });
            },
            autoFocus: true,
            minLength: 7,
            select: function (event, ui) {
                $('#search_variant').val(ui.item.value);
                return false;
            },
            open: function (event, ui) {
                autocompleteResults.show(); 
            },
            close: function (event, ui) {
                autocompleteResults.hide(); 
            }
        });

        // Hide autocomplete results when clicking outside of the input and results
        $("#search_variant").on('keyup', function () {
            
            $.ajax({
                url: "{% url 'variant_lookup' %}?variant="+ $(this).val().split("-")[0].trim(),
                success: function(data){
                    $("#search_variant").html("");
                    var html_data = "";
                    data.variants.forEach(item => {
                        html_data+=`<tr>
                            <td>${item.VariantMarker}</td>
                            <td>${item.geneID}</td>
                            <td>${item.genename}</td>
                            <td>${item.pt}</td>
                            <td><a href="/gene/${item.geneID}" target="_blank" rel="noopener noreferrer">Link</a></td>
                        </tr>`;
                    });
                    $("#search_variant").html(html_data);
                }
            })
        });
    
        var hasClearSearch = false;
        function variant_search(){
            var g = $("#search_variant").val().split(" ")[4];
            var gene_id = g.trim().slice(1, g.length-1);
            alert("gene_id = "+gene_id);
            var method = "GET";
            var url= "/gene/" + gene_id + "/";

            $.ajax({
                url: url,
                method: method,
                data: {
                    "gene_id": gene_id,
                },
                success: function(data){
                    $("#search_variant").html("");
                    var html_data = "";
                    data.variants.forEach(item => {
                        html_data+=`<tr>
                            <td>${item.VariantMarker}</td>
                            <td>${item.geneID}</td>
                            <td>${item.genename}</td>
                            <td>${item.pt}</td>
                            <td><a href="/gene/${item.geneID}" target="_blank" rel="noopener noreferrer">Link</a></td>
                        </tr>`;
                    });
                    $("#search_variant").html(html_data);
                },
                error: function(error){
                    console.error("Error:", error);
                }
            });
        }
       
        // Handle the form submission when the "Search" button is clicked
        $("#submit_variant").click(function () {
            variant_search();
        });
        
        // Handle the form submission when the form is submitted
        $("form").submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting normally
        });
        });

</script>
{% endblock %}