{% extends "home/base.html" %}
{% load static %}
{% load color_range_for_variants %}
{% csrf_token %}
{% block addon_css %}
    <link rel="stylesheet" href="{% static 'home/css/jquery.dataTables.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/buttons.dataTables.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap2-toggle.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/yadcf_bootstrap_version.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/select2.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'home/css/modal.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static '/home/css/font.awesome.all.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'home/css/construct_browser.css' %}" type="text/css"/>

    <link rel="stylesheet" href="{% static 'gene/css/gene-detail.css' %}" type="text/css"/>
    <style>
        th.width-80px {
            width: 80px;
        }
    </style>
{% endblock addon_css %}

{% block content %}
    {% autoescape off %}
        <div>
        <div class="col-md-2" style="background-color: rgba(224, 225, 221, 0.3); height: inherit;">
            <p style="text-align: left; font-size: 14px; display: block; margin-bottom: 10px;margin-top: 10px;"><strong>Gene name:</strong> <span
                style="color: #B69121">{{ gene }}</span></p>
            <p style="text-align: left; font-size: 14px; display: block; margin-bottom: 10px;"><strong>Ensembl Gene ID:</strong> <span
                style="color: #B69121">{{ geneID }}</span></p>
            <p style="text-align: left; font-size: 14px; display: block; margin-bottom: 10px;"><strong>UniProt ID:</strong> <span
                style="color: #B69121">{{ protein_name }}</span></p>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div id="variantPlots_content">
                     
                </div>
            </div>
            <div class="gene-table-container" style="margin-top: 40px;">
                {% include '_buttons.html' %}
                <div id="Init_loader"></div>
                <div id="structures_scrollable_table">
                    <table class="display compact text-nowrap" id="structures_scrollable">
                        <thead id="headers">
                            <tr> 
                                <td style="text-align: center" data-dt-order="disable"></td>
                                <td style="text-align: center" data-dt-order="disable"></td>
                                <td style="text-align: center" data-dt-order="disable"></td>
                                <td style="text-align: center" data-dt-order="disable"></td>
                                <td style="text-align: center" data-dt-order="disable"></td>
                            </tr>
                        <!-- ## Super header row ## -->
                        <tr>
                            <th colspan="3" id="Complex_header_1" data-dt-order="disable">Basic annotation</th>
                            <th colspan="2" id="Complex_header_2" data-dt-order="disable">VEP scores from different algorithms <a href="#" id="vep-score-algorithms">Hide VEP scores</a></th>
                        </tr>
                        <!-- ## header row ## -->
                        <tr>
                            <!-- Basic annotation block -->
                            <th>Variant</th>
                            <th>Transcript</th>
                            <th style="width: 80px !important;" class="width-80px">Mean <br> VEP scores</th>
                            <!-- Score block -->
                            <th>Alpha missense</br>Pathogenicity</th>
                            <th>BayesDel</br>(addAF)</th>
                            
                        </tr>
                        <!-- ## Filter row ## -->
                        <tr>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                            <td style="text-align: center" data-dt-order="disable"></td>
                        </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                    <br/>
                </div>
            </div>
            {% include "_primary_seq.html" %}
            <div id="gene-3d-chart" style="padding: 0px; margin-bottom: 30px;">
                <div class="col-sm-3" style="padding: 0px;">
                    <p style="font-size:16px; padding-left:0; margin-left:0;">3D structure:</p>
                    <div id="filter_3d">
                        <div id="filter_3d_row1">
                            <div id="filter_3d_source">
                                <p>Source:</p>
                                <select id="sourceSelect" name="sourceSelect">
                                    <option value="pdb">PDB</option>
                                    <option value="af2">AlphaFold2</option>
                                </select>
                            </div>
                        </div>
                        <div id="filter_3d_row2">
                            <div id="filter_chain">
                                <p>Chain:</p>
                                <select id="chainSelect" name="chain">
                                    <option value="all" selected="selected">All</option>
                                    <!-- <option value="B">B</option> -->
                                </select>
                            </div>
                            <div id="filter_3d_color">
                                <p>Color:</p>
                                <select id="colorSelect" name="color">
                                    <option value="spectrum" selected="selected">Spectrum</option>
                                    <option value="grey">Grey</option>
                                </select>
                            </div>
                            <div id="filter_3d_variant">
                                <p>Variant:</p>
                                <select id="variantVisibilitySelect" name="variant">
                                    <option value="hide">Hide</option>
                                    <option value="show">Show</option>
                                </select>
                            </div>
                            
                        </div>
                            
                        <div id="seqquence_filter_row">
                            
                        </div>
                    </div>
                </div>

                <div id="structure_3D" class="col-sm-9">
                    {% include '_3d_view.html' %}
                </div>

            </div>

            <!-- The genebass modal -->
            <div class="modal fade" id="genebassModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="genebass-variant-list">
                    </div>
                </div>
            </div>

            <!-- The variant plots modal -->
            <div class="modal fade" id="variantPlots" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" id="variantPlots_content">
                        Variant statistics plots will be shown 1
                    </div>
                </div>
            </div>

        </div>
    {% endautoescape %}
{% endblock content %}

{% block addon_js %}
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"></script>
    <script src="{% static 'home/js/buttons.dataTables.js' %}"></script>
    <script src="{% static 'home/js/datatables.min.js' %}"></script>
    <script src="{% static 'home/js/dataTables.responsive.js' %}"></script>
    <script src="{% static 'home/js/responsive.dataTables.js' %}"></script>
    <script src="{% static 'home/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
    <script src="{% static 'home/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'home/js/absolute.js' %}"></script>
    <script src="{% static 'home/js/select2.full.js' %}"></script>
    <script src="{% static 'home/js/grayscale.js' %}"></script>
    <script src="{% static 'home/js/gpcrdb.js' %}"></script>
    <script src="{% static 'home/js/NorgesDTFilterBuilder.js' %}"></script>
    <script src="{% static 'home/js/select2_4.1.0-rc.0_full.js' %}"></script>
    <script src='https://cdn.plot.ly/plotly-2.20.0.min.js'></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>

    <script>
        var variants_data = JSON.parse('{{ array|safe}}');
        // //var variants_data = {{array|safe}};
        // console.log(variants_data);
        // ######################
        // ## Ordering schemes ##
        // ######################

        var numbersType = $.fn.dataTable.absoluteOrderNumber( [
            { value: 'None', position: 'bottom' }
        ] );
        var namesType = $.fn.dataTable.absoluteOrder( [
        { value: 'unknown', position: 'bottom' }
        ] );

        $(document).ready(function () {
            // Show/hide VEP score algorithms
            $('#vep-score-algorithms').on(
                'click', function (e) {
                    e.preventDefault();
                    hideAllVepScoreColumns();
                }
            )
            // Show/hide VEP score algorithms
            $('#show-all-vep-score').on(
                'click', function (e) {
                    e.preventDefault();
                    showAllVepScoreColumns();
                }
            )
            //When a variant is click --> open modal to show genebass data
            $('.variant_associate_statistics').click(function (e) {
                e.preventDefault();
                let variant_marker = $(this).data('variant-marker');
                let url = $(this).data('remote-url');
                //$("#genebass-variant-list").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Genebass variants are loading ...')
                $.ajax(
                    {
                        url: url,
                        type: "GET",
                        data: {
                            'variant_marker': variant_marker,
                        },
                        success: function (response) {
                            $("#genebass-variant-list").html(response)
                            redraw_genebass_modal()
                        }
                    }
                )
            })
            
            // Script for showing datatable of variants and VEP scores initially
            let structures_scrollable = $("#structures_scrollable")
            structures_scrollable.show();
            let oTable1 = structures_scrollable.DataTable({
                deferRender: true,
                scrollY: true,
                scrollX: true,
                scrollCollapse: true,
                scroller: true,
                paging: true,
                //bSortCellsTop: false, //prevent sort arrows going on bottom row
                //aaSorting: [],
                //autoWidth: true,
                //bInfo: true,
                //order: [[0, "asc"]],
                // ##  Common settings ##
                order: [0,"asc"],
                pagingType: 'full_numbers',
                lengthMenu: [
                    [10, 15, 20, 25, 50],
                    [10, 15, 20, 25, 50],
                ],

                // ###################
                // ## Load the data ##
                // ###################
                data: variants_data,

                // ###################
                // ##  Column data  ##
                // ###################

                columns:[
                    // #############################
                    // # Column 0 -   #
                    // #############################
                    {data: "Variant_marker",
                    name: "Variant marker",
                    width:'8%'},

                    // #############################
                    // # Column 1 -   #
                    // #############################
                    {data: "Transcript_ID",
                    name: "Transcript ID",
                    width:'8%'},

                    // #############################
                    // # Column 5 -   #
                    // #############################
                    {data: "mean_vep_score",
                    name: "Mean Vep score",
                    width:'8%'},

                    // #############################
                    // # Column 5 -   #
                    // #############################
                    {data: "AM_pathogenicity_rankscore",
                    name: "AM_pathogenicity_rankscore",
                    width:'8%'},

                    // #############################
                    // # Column 5 -   #
                    // #############################
                    {data: "BayesDel_addAF_rankscore",
                    name: "BayesDel_addAF_rankscore",
                    width:'8%'},
                    ],
                
                // ###################################################
                // ## Define ordering - Handles special case values ##
                // ###################################################

                columnDefs: [
                    { type: numbersType, targets: 8 },
                    { type: namesType, targets: 10 },
                    {className: "dt-center expand", "targets": "_all"}
                    ],
                drawCallback: function(){
                    $('.paginate_button:not(.disabled)', this.api().table().container())          
                        .on('click', function(){
                            var variant_maker_list = [];
                            $("#structures_scrollable_body").find('tr').each(function() {
                                variant_maker_list.push($(this).find('.variant').text());
                            });
                            variant_maker_list = [...new Set(variant_maker_list)];
                            $.ajax(
                                {
                                    url: "/plot-variants/?variant_maker_list="+variant_maker_list.toString(),
                                    type: "GET",
                                    
                                    success: function (response) {
                                        draw_multiple_variant_plot(response.variant_maker_list_data);
                                    },
                                    error: function (response) {
                                        console.log(response)
                                    },
                                }
                            );
                        });       
                }
            })
            
            // get data currently seen in the table to make multiple violin plot 
            var variant_maker_list = [];
            $("#structures_scrollable_body").find('tr').each(function() {
                variant_maker_list.push($(this).find('.variant').text());
            });
            variant_maker_list = [...new Set(variant_maker_list)];
            $.ajax(
                {
                    url: "/plot-variants/?variant_maker_list="+variant_maker_list.toString(),
                    type: "GET",
                    
                    success: function (response) {
                        // console.log("response = "+JSON.stringify(response));
                        // variant_maker_data_draw_plot.push([response, variant_marker]);
                        draw_multiple_variant_plot(response.variant_maker_list_data);
                    },
                    error: function (response) {
                        console.log(response)
                    },
                }
            );
            
            // draw_multiple_variant_plot(variant_maker_data_draw_plot);
            let column_filters = [];
            // createYADCFfilters(start_column, num_cols, filter_type, select_type = null, filter_default_label = "", filter_reset_button_text = false, filter_match_mode = null, column_data_type = null, width = null)
            // Variant
            // column_filters = column_filters.concat(createYADCFfilters(0, 1, "multi_select", "select2", "Select", false, null, null, "100px"));

            // Soren lib: CreateColumnFilters --> CreateColumnFilters(datatable_selector,column_number, column_range, header_row, filter_type)
            // column_filters = column_filters.concat(CreateColumnFilters(table1,0,3,3,"Multi-select"));
            column_filters = column_filters.concat(CreateColumnFilters(oTable1, 0, 1, 3, "Multi_select"));
            //Transcript
            column_filters = column_filters.concat(createYADCFfilters(1, 1, "multi_select", "select2", "Select", false, null, null, "110px"));
            //Canonical
            column_filters = column_filters.concat(createYADCFfilters(2, 1, "select", null, "Select", "YES", null, null, "80px"));
            //Sequence position
            column_filters = column_filters.concat(createYADCFfilters(3, 1, "multi_select", "select2", "Select", false, null, null, "80px"));
            //Wildtype position
            column_filters = column_filters.concat(createYADCFfilters(4, 1, "multi_select", "select2", "Select", false, null, null, "80px"));
            //Mutant position
            column_filters = column_filters.concat(createYADCFfilters(5, 1, "multi_select", "select2", "Select", false, null, null, "80px"));
            //Codon
            column_filters = column_filters.concat(createYADCFfilters(6, 1, "multi_select", "select2", "Select", false, null, null, "80px"));
            //Consequence
            column_filters = column_filters.concat(createYADCFfilters(7, 1, "select", null, "Select", false, null, null, "80px"));
            //AF
            // column_filters = column_filters.concat(createYADCFfilters(8, 1, "multi_select", "select2", "Select", false, null, null, "80px"));
            //Score columns
            column_filters = column_filters.concat(createYADCFfilters(9, 1, "range_number", null, ["Min", "Max"], false, null, null, width="70px"))

            // update filters
            // yadcf.init(
            //     oTable1,column_filters, {
            //         cumulative_filtering: false,
            //         rowCallBack: function(row, data) {
            //             console.log("row");
            //         }
		    //     }
            // );
            // yadcf.exFilterColumn(oTable1, [[2, ["YES"]]], true);
            oTable1.column(10).visible(false); // Hide the column `Show all VEP Scores` initially
            // let table = $('#structures_scrollable').DataTable();
            // console.log("Change Canonical: "+ yadcf.exGetColumnFilterVal(oTable1, 2));
            $(".yadcf-filter-wrapper").find('input.yadcf-filter.ui-autocomplete-input').parentsUntil('th').css('width', '80x');
            $(".yadcf-filter-wrapper").find('input.yadcf-filter.ui-autocomplete-input').parentsUntil('td').css('width', '80x');
            $(".yadcf-filter-wrapper").find('input.yadcf-filter.ui-autocomplete-input').attr('size', '15');
            $(".yadcf-filter-wrapper").find('input.yadcf-filter-range-number.yadcf-filter-range').parentsUntil('th').css('width', '80x');
            $(".yadcf-filter-wrapper").find('input.yadcf-filter-range-number.yadcf-filter-range').parentsUntil('td').css('width', '80x');
            $(".yadcf-filter-wrapper").find('input.yadcf-filter-range-number.yadcf-filter-range').attr('size', '15');
        })
        $(document).ready(function() {

            // update plot when user change input of rows per display
            $('select[name="structures_scrollable_length"]').on('change', function()
                {
                    setTimeout(function(){
                        let variant_maker_list = [];
                        $("#structures_scrollable_body").find('tr').each(function() {
                            variant_maker_list.push($(this).find('.variant').text());
                        });
                        variant_maker_list = [...new Set(variant_maker_list)];
                        $.ajax(
                            {
                                url: "/plot-variants/?variant_maker_list="+variant_maker_list.toString(),
                                type: "GET",
                                
                                success: function (response) {
                                    draw_multiple_variant_plot(response.variant_maker_list_data);
                                },
                                error: function (response) {
                                    console.log(response)
                                },
                            }
                        );
                    }, 500);
                });

            // update plot when user input data on input filter
            $('.yadcf-filter-wrapper').find('input').each(function() {
                $(this).on('change', function() {
                    setTimeout(function(){
                        let variant_maker_list = [];
                        $("#structures_scrollable_body").find('tr').each(function() {
                            variant_maker_list.push($(this).find('.variant').text());
                        });
                        variant_maker_list = [...new Set(variant_maker_list)];
                        $.ajax(
                            {
                                url: "/plot-variants/?variant_maker_list="+variant_maker_list.toString(),
                                type: "GET",
                                
                                success: function (response) {
                                    draw_multiple_variant_plot(response.variant_maker_list_data);
                                },
                                error: function (response) {
                                    console.log(response)
                                },
                            }
                        );
                    }, 500);
                });
            });

            // update plot when user select data on select filter
            $('.yadcf-filter-wrapper').find('select').each(function() {
                $(this).on('change', function() {
                    setTimeout(function(){
                        let variant_maker_list = [];
                        $("#structures_scrollable_body").find('tr').each(function() {
                            variant_maker_list.push($(this).find('.variant').text());
                        });
                        variant_maker_list = [...new Set(variant_maker_list)];
                        // alert("Select change" + variant_maker_list.toString());
                        $.ajax(
                            {
                                url: "/plot-variants/?variant_maker_list="+variant_maker_list.toString(),
                                type: "GET",
                                
                                success: function (response) {
                                    // console.log("response = "+JSON.stringify(response));
                                    // variant_maker_data_draw_plot.push([response, variant_marker]);
                                    draw_multiple_variant_plot(response.variant_maker_list_data);
                                },
                                error: function (response) {
                                    console.log(response)
                                },
                            }
                        );
                    }, 500);
                    
                });
            });
        })
        

        function hideAllVepScoreColumns() {
            var table = $('#structures_scrollable').DataTable();
            var start_col_index = 11;
            var end_col_index = 51;
            for (col_index = start_col_index; col_index <= end_col_index; col_index++) {
                var column = table.column(col_index);
                column.visible(false);
            }
            table.column(10).visible(true);
        }
        
        function showAllVepScoreColumns() {
            var table = $('#structures_scrollable').DataTable();
            var start_col_index = 11
            var end_col_index = 51
            for (col_index = start_col_index; col_index <= end_col_index; col_index++) {
                var column = table.column(col_index);
                column.visible(true);
            }
            table.column(10).visible(false);
        }
        function getHeaderContent(element) {
            var content = "";
            element.childNodes.forEach(function(value){
                if(value.nodeType === Node.TEXT_NODE) { 
                    // console.log("Current textNode value is : ", value.nodeValue.trim());
                    // sChildTextSum += value.nodeValue;
                    content += ` ${value.nodeValue.trim()}`;
                }
            });
            return content;
        }
        var tableToExcel = (function () {
            var encabezado = '<html><head><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/><style> table, td {border:thin solid black} table {border-collapse:collapse}</style></head><body><table>';

            var header_el = $('#headers')
            var header_th_els = header_el.find('th')
            var header = ''
            for (var th_i = 0; th_i < header_th_els.length; th_i++) {
                header += '<th>' + getHeaderContent(header_th_els[th_i])+ '</th>'
            }
            header = '<tr>' + header + '</tr>'
            header = '<thead>' + header + '</thead>'
            var excel_content = ''
            // Lay toan bo data trong datatable, chi lay cac rows thoa man dieu kien filter
            var rows = $('#structures_scrollable').DataTable().rows({search: 'applied'}).data()
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i]
                excel_content += '<tr>'
                for (var j = 0; j < row.length; j++) {
                    excel_content += '<td>' + row[j] + '</td>'
                }
                excel_content += '</tr>'
            }

            var piePagina = "</table></body></html>";
            var tabla = encabezado + header + excel_content + piePagina;
            var myBlob = new Blob([tabla], {type: 'application/vnd.ms-excel'});
            var url = window.URL.createObjectURL(myBlob);
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.href = url;
            a.download = "{{slug}}.xls";
            a.click();

            setTimeout(function () {
                window.URL.revokeObjectURL(url);
            }, 0);
        });

        // Ham xu ly export modal genebass table
        var genebassVariantTableToExcel = (function () {
            var encabezado = '<html><head><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/><style> table, td {border:thin solid black} table {border-collapse:collapse}</style></head><body><table>';

            var header_el = $('#genebass-tables-header')
            var header_th_els = header_el.find('th')
            var header = ''
            for (var th_i = 0; th_i < header_th_els.length; th_i++) {
                if (th_i == 3) {
                    header += '<th>' + 'Phenocode' + '</th>'
                } else {
                    header += '<th>' + header_th_els[th_i].textContent + '</th>'
                }
            }
            header = '<tr>' + header + '</tr>'
            header = '<thead>' + header + '</thead>'
            var excel_content = ''
            // Lay toan bo data trong datatable, chi lay cac rows thoa man dieu kien filter

            var rows = $('#genebass-tables').DataTable().rows({search: 'applied'}).data()
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i]
                excel_content += '<tr>'
                for (var j = 0; j < row.length; j++) {
                    excel_content += '<td>' + row[j] + '</td>'
                }
                excel_content += '</tr>'
            }

            var piePagina = "</table></body></html>";
            var tabla = encabezado + header + excel_content + piePagina;
            var myBlob = new Blob([tabla], {type: 'application/vnd.ms-excel'});
            var url = window.URL.createObjectURL(myBlob);
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.href = url;
            a.download = "DrugBrowserData.xls";
            a.click();

            setTimeout(function () {
                window.URL.revokeObjectURL(url);
            }, 0);
        });

        function draw_multiple_variant_plot(data) {
            $('#variantPlots_content').html('');  // clear data
            // Extract categories and values
            const categories = data.map(d => d.category);
            const values = data.map(d => d.values);

            // Create violin plot traces
            const traces = values.map((v, index) => {
                    const meanValue = v.reduce((acc, val) => acc + val, 0) /        v.length;
                    // Generate red shades based on mean value
                    // const color = `rgba(${255**meanValue}, 50, 0, 0.6)`; 
                    // const color = d3.quantize(t => d3.interpolateSpectral(t * 0.5 + 0.1), v.length)[index];
                    const color = d3.range(10).map(d => d3.interpolateRainbow(d /10))[index];
                    return {
                    type: 'violin',
                    y: v,
                    name: categories[index],
                    box: { visible: true },
                    line: { color: 'rgba(0,0,0,0.6)' },
                    fillcolor: color,
                    meanline: { visible: true },
                    boxpoints: 'all'
                    };
            });

            let layout = {
            xaxis: {
                title: {
                    text: 'Variant',
                    font: {
                        size: 16,
                    },
                    color: 'rgb(25, 130, 196)',
                },
                // range: [-2, parseInt(max_xaxis * 1.05)],
                showline: true, // Show x-axis line
                showgrid: true, // Show x-axis grid lines
                zeroline: false, // Show the x-axis zero line
            },
            yaxis: {
                title: {
                    text: 'VEP score',
                    font: {
                        size: 16,
                    },
                    color: 'rgb(25, 130, 196)',
                },
                // range: [0.01, 1.05],
                showline: true, // Show y-axis line
                showgrid: true, // Show y-axis grid lines
                zeroline: false, // Show the y-axis zero line
            },
            margin: {
                t: 30, // Increase the top margin for the title and plot container
                b: 100, // Bottom margin for the x-axis labels and title
                l: 60, // Left margin for the y-axis labels and title
                r: 40, // Right margin
            }
            }

            // Plot
            Plotly.newPlot('variantPlots_content', traces, layout);
            // Plotly.newPlot('variantPlots_content', data, layout);
        }

        function redraw_genebass_modal() {
            let genebass_table = $("#genebass-tables")
            genebass_table.show()
            let genebass_variant_table = genebass_table.DataTable({
                searchPanes: {
                    layout: 'columns-1'
                },
                dom: '<"dtsp-dataTable"frtip>',
                deferRender: true,
                scrollY: true,
                scrollX: true,
                scrollCollapse: true,
                scroller: true,
                paging: true,
                bSortCellsTop: false, //prevent sort arrows going on bottom row
                aaSorting: [],
                autoWidth: true,
                bInfo: true,
                //order: [[7, "asc"]],
                pagingType: 'full_numbers',
                lengthMenu: [
                    [10, 25, 50, 100, 200, -1],
                    [10, 25, 50, 100, 200, 'All'],
                ],
            })

            let column_filters = [];

            // 
            column_filters = column_filters.concat(createYADCFfilters(0, 1, "select", null, "", false, null, null));
            column_filters = column_filters.concat(createYADCFfilters(1, 1, "select", "select", "Select", false, null, null));
            column_filters = column_filters.concat(createYADCFfilters(2, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));
            column_filters = column_filters.concat(createYADCFfilters(3, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));
            column_filters = column_filters.concat(createYADCFfilters(4, 1, "select", "select", "Select", false, null, null, width = "600px"));

            //AC
            column_filters = column_filters.concat(createYADCFfilters(5, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));
            //AF
            column_filters = column_filters.concat(createYADCFfilters(6, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));
            column_filters = column_filters.concat(createYADCFfilters(7, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));
            column_filters = column_filters.concat(createYADCFfilters(8, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));
            column_filters = column_filters.concat(createYADCFfilters(9, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));
            column_filters = column_filters.concat(createYADCFfilters(10, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));
            column_filters = column_filters.concat(createYADCFfilters(11, 1, "range_number", null, ["Min", "Max"], false, null, null, width = "40px"));




            yadcf.init(
                genebass_variant_table,
                column_filters, 
              
                {
                    cumulative_filtering: false
                },
            );
            $('#yadcf-filter--genebass-tables-0').css('width', '300px');
            $('#yadcf-filter--genebass-tables-4').css('width', '300px');
            
            $('#yadcf-filter--genebass-tables-to-2').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-2').css('width', '20px');
            $('#yadcf-filter--genebass-tables-to-3').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-3').css('width', '20px');
            $('#yadcf-filter--genebass-tables-to-5').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-5').css('width', '20px');
            $('#yadcf-filter--genebass-tables-to-6').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-6').css('width', '20px');
            $('#yadcf-filter--genebass-tables-to-7').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-7').css('width', '20px');
            $('#yadcf-filter--genebass-tables-to-8').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-8').css('width', '20px');
            $('#yadcf-filter--genebass-tables-to-9').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-9').css('width', '20px');
            $('#yadcf-filter--genebass-tables-to-10').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-10').css('width', '20px');
            $('#yadcf-filter--genebass-tables-to-11').css('width', '20px');
            $('#yadcf-filter--genebass-tables-from-11').css('width', '20px');

            gray_scale_table(genebass_table);

            $("#reset").click(function () {
                yadcf.exResetAllFilters(genebass_variant_table);
            });
        }

        // <!-- Script for filtering options of 3d-structure  -->
        var structureDisplay = document.getElementById('structure_display');
        // let positionsToColor = [...new Set(list_vep_variants_pos)];

        viewer_bkup = viewer;

        // Count the number of chains
        const chains = new Set();
        const atoms = viewer.getModel().selectedAtoms({});
        for (let i = 0; i < atoms.length; i++) {
            const atom = atoms[i];
            chains.add(atom.chain);
        }

        const chainSelect = document.getElementById('chainSelect');
        const chainArray = Array.from(chains); // Convert the set to an array for easier manipulation
        chainArray.sort(); // Sort the chains in alphabetical order (optional)
        for (const chain of chainArray) {
            const option = document.createElement("option");
            option.value = chain;
            option.textContent = chain;
            chainSelect.appendChild(option);
        }

        chainSelect.addEventListener('change', (event) => {
            var selectedChain = chainSelect.value;

            if (selectedChain !== "") {
                viewer.setStyle({}, {cartoon: {color: 'grey', opacity: 0.5}});
                viewer.addStyle({chain: selectedChain}, {cartoon: {color: 'spectrum', opacity: 1}});
            }
            viewer.render();
        });

        // const resiLabelSelect = document.getElementById('resiLabelSelect');
        // let toremoveLabel = null;
        // resiLabelSelect.addEventListener('change', (event) => {
        //     const selectedResiVisibility = event.target.value;
        //     if (selectedResiVisibility === 'hide') {
        //         if (toremoveLabel != null) {
        //             viewer.removeLabel(toremoveLabel);
        //             toremoveLabel = null;
        //         }
        //     } else {
        //         toremoveLabel = viewer.addResLabels({hetflag: false}, {
        //             font: 'Arial',
        //             fontSize: 6,
        //             fontColor: 'black',
        //             showBackground: false,
        //             screenOffset: {x: 0, y: 0}
        //         });
        //     }
        //     viewer.render();
        // });

        const variantVisibilitySelect = document.getElementById('variantVisibilitySelect');
        variantVisibilitySelect.addEventListener('change', (event) => {
            const selectedvisibility = event.target.value;
            if (selectedvisibility === 'hide') {
                viewer.setStyle({}, {cartoon: {color: "spectrum"}});
            } else {
                viewer.setStyle({}, {cartoon: {color: 'grey', thickness: 0.5}});
                viewer.addStyle({resi: [5, 10, 15, 20, 25, 30, 35, 40]}, {stick: {colorscheme: 'greenCarbon'}});
            }
            viewer.render();
        });

        var colorSelect = document.getElementById('colorSelect');
        colorSelect.addEventListener('change', (event) => {
            const selectedColor = event.target.value;
            if (selectedColor === 'grey') {
                viewer.setStyle({}, {cartoon: {color: 'grey'}});
            } else {
                viewer.setStyle({}, {cartoon: {color: 'spectrum'}});
                for (const option of variantVisibilitySelect.options) {
                    if (option.value === "hide") {
                        option.selected = true;
                        break;
                    }
                }
            }
            viewer.render();
        });

        const sourceSelect = document.getElementById('sourceSelect');
        sourceSelect.addEventListener('change', (event) => {
            const sourceSelect = event.target.value;
            if (sourceSelect === 'pdb') {
            } else {
            }
        });
        
        function addLabelForResidueNth(nth, labelText, labelOptions) {
            const labels = viewer.addResLabels({resi: nth}, labelOptions);
            return labels;
        }

        
        </script>
        <script src="{% static 'home/js/d3.v7.min.js' %}"></script>   
{% endblock addon_js %}

