{% extends "home/base.html" %}
{% load static %}
{% csrf_token %}

{% block addon_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'drug/css/atc_lookup.css' %}">
    <style>
        #sub-atc-intro {
            display: flex;
        }
        #sub-atc-intro-text{
            width: 65%;
        }
        #sub-atc-intro-image{
            width: 35%;
        }
    </style>
{% endblock %}

{% block content %}
    {% autoescape off %}
        <div class="atc-intro">
            <h3>ATC</h3>
            <div id="sub-atc-intro">
                <div id="sub-atc-intro-text">
                    <p>
                        The Anatomical Therapeutic Chemical (ATC) classification system is used for the classification of drugs.
                        It is published by the World Health Organization (WHO). <br>The classification is based on therapeutic and
                        chemical characteristics of the drugs. Each ATC code is divided into 5 levels:<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1st level: Anatomical main group<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2nd level: Therapeutic main group<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3rd level: Therapeutic/pharmacological subgroup<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4th level: Chemical/therapeutic/pharmacological subgroup<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5th level: Chemical substance<br>
                        Substances or combination of substances in the 5th level refer to a single indication. Drugs having more than one indication belong to more than one ATC code. <a href="">Tretinoin</a> for example has 3 ATC codes assigned.
                        <br>
                        </p>
                </div>
                <div id="sub-atc-intro-image">
                    <img src="static/drug/image/atc2.png" alt="Atc code example" style="width: 70%; margin-left: 50px;">
                </div>
            </div>
            <h3 style="margin-top: 10px;">Search</h3>
            <p>A searchable version of the complete ATC index is available below. The search options enable you to find ATC codes and/or ATC levels. </p> 
                
        </div>

        <div class="row">
            <form method="GET">
                <div id="input-group">
                    <div id="input-query">
                        <input id="atc_code_query" type="text"  placeholder="ATC code or name">
                            <!-- Dropdown List -->
                        <select id="queryOption">
                            <option value="containing">containing query</option>
                            <option value="startingwith">starting with query</option>
                        </select>
                    </div>
                    <button type="submit" id='search'>Search</button>
                </div>
            </form>
        </div>

        <div id="atc-intro">
            <h3 style="margin-bottom: 5px;">ATC tree</h3>
        </div>
        <div id="atc-l1" style="margin-top: 15px;">
            <p style="margin-top: 0px; margin-bottom: 15px;">All ATC levels are browsable from 1st to 5th ATC level</p>
            {% for group in atc_groups %}
                <p style="margin-top: 0px; margin-bottom: 4px;"><a href="{% url 'atc-detail-view' %}?group_id={{ group.id }}">{{ group.id }}: {{ group.name }}</a></p>
            {% empty %}
                <p>No data available</p>
            {% endfor %}
        </div>
    {% endautoescape %}
{% endblock %}

{% block addon_js %}
    
    <script>
        $(document).ready(function () {
            var hasClearSearch = false;
            function performSearch() {
                // Get user input
                var atc_code_inp = $("#atc_code_query").val();
                var query_option = $("#queryOption").val();

                if (!hasClearSearch){
                    var input_panel = $("#input-group");
                    // Create the new div element
                    var newSearchDiv = $('<div id="new_search"></div>');
                    // Create the anchor element and set its attributes
                    var anchorElement = $("<a href=\"{% url 'atc-lookup' %}\">Clear search</a>");
                    anchorElement.css({
                        "color": "#f17c0e",
                        "text-decoration": "underline",
                        "text-decoration-color": "#f17c0e"
                    });
                    // Append the anchor element to the new div
                    newSearchDiv.append(anchorElement);
                    // Insert the new div to the right of the input_panel
                    input_panel.append(newSearchDiv);
                    hasClearSearch = true;
                }

                // Change text of the atc-intro panel
                $("#atc-intro h3").text("Result");
                $("#atc-intro p").text('');


                // Determine whether to use GET or POST based on your needs
                var method = "GET"; // or "POST" depending on the view's requirements

                // Make an AJAX request to the Django view
                $.ajax({
                    url: "{% url 'atc-search-view' %}", // Replace with the actual URL
                    method: method,
                    data: {
                        'atc_code_inp': atc_code_inp,
                        'query_option': query_option
                    },
                    success: function (data) {
                        $("#atc-l1").html(data);
                    },
                    error: function (error) {
                        console.error("Error:", error);
                    }
                });
            }
            // Handle the form submission when the "Search" button is clicked
            $("#search").click(function () {
                performSearch();
            });

            // Handle the form submission when the form is submitted
            $("form").submit(function (event) {
                event.preventDefault(); // Prevent the form from submitting normally
                // performSearch(); // Call the search function
            });
        });

    </script>
{% endblock %}