{% extends "home/base.html" %}
{% load static %}
{% csrf_token %}

{% block addon_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'drug/css/atc_lookup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'drug/css/atc_detail.css' %}">
    <style>
        .tooltip {
            background-color: #fff;
            color: #333333;
            font-weight: bolder;
            padding: 2px 3px;
            border-radius: 5px;
            font-size: 14px;
            position: absolute;
            z-index: 999;
            border: 1px solid #333333;
            
          }

    </style>
    
{% endblock %}

{% block content %}
    {% autoescape off %}
        <div class="grid-container">
        {% include 'atc_detail/left_navigation.html' %}
            <div id="atc_right" class="col-8">
                <!-- block for showing the table -->
                <div id='drug-table'>
                </div>
                <!-- block for showing network -->
                <div class="forcenetworkgraph" id="graphvisibility" style="display: none; width: 97%; margin: 10px 0; height: 90%">
                    <iframe id="myIframe" style="
                                                display: none;
                                                width: 97%;
                                                height: 100%;
                                                border: 1px solid black;
                                                margin-right: 5px;">
                    </iframe>
                </div>

                <div id="target-table" style="display: none;">
                    <span style="font-style: italic; margin-bottom: 10px;" id="info-target-table"></span>
                    <div id="associated_target_tbl">
                        <table id="associated_target_tbl" >
                            <thead style="text-align: left;">
                                <tr style="background-color: #f2f2f2;">
                                    <th style="white-space: nowrap;">Target &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                    <th style="white-space: nowrap;">No. of drugs &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                    <th style="white-space: normal;">List of drugs &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                    <th style="white-space: nowrap;">PGx information &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                        &nbsp; &nbsp; &nbsp;</th>
                                    <th>Other &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="content-target-table">
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="card-body text-center" style="margin-top: 20px;">
                        <p style="font-style: italic; text-align: left;">Interaction types</p>
                        <button class="btn btn-success" style="float: right; margin-right: 70px;" onmouseover="goToUp()">Up</button>
                        <!--PieChart Code here-->
                        <div id="chart-container-interaction-type" style="width: 300px; height: 300px;">
                            <svg id="pie-chart-interaction-type"></svg>
                        </div>
                        <!--PieChart End here-->
                    </div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}

{% block addon_js %}

    <script src="{% static 'home/js/d3.v7.min.js' %}"></script> 
    <script src="{% static 'drug/js/target_table_statistics.js' %}"></script>  

    <script>
        // JavaScript for toggling the visibility of nested lists
        document.querySelectorAll('.tree .desc').forEach(function (el) {
            el.addEventListener('click', function () {
                var parentLi = el.parentElement; 
                var ul = parentLi.querySelector('ul'); 
                if (ul) {
                    if (ul.style.display === "" || ul.style.display === "none") {
                        ul.style.display = 'block';
                    } else {
                        if (ul.style.display === 'block') {
                            ul.style.display = 'none';
                        }
                    }
                }
            });
        });
    </script>

    <script>
            function goToUp() {
                $('html, body').animate({
                    scrollTop: $('#atc_right').offset().top
                }, 2000);
            }
            function showTargetTable(uniProt_ID){
                $.ajax(
                    {
                        url: "{% url 'get-drug-list-by-uniprotID' %}?uniProt_ID="+uniProt_ID,
                        type: "GET",
                        success: function (response) {
                            console.log(response);
                            displayDrugListByUniProt_ID(response.response_data);
                            const data = [
                                    { category: "Target", value: response.response_data.NoOfTargetTypes },
                                    { category: "Enzyme", value: response.response_data.NoOfEnzymeTypes },
                                    { category: "Transporter", value: response.response_data.NoOfTransporterTypes },
                                    { category: "Carrier", value: response.response_data.NoOfCarrierTypes },
                                ];
                            console.log("Before createPieChartForTargetType: " + data.toString());
                            createPieChartForTargetType(data);
                        },
                        error: function (xhr, status, error) {
                            console.log('AJAX Error:', error);
                        }
                    });
            }

            function displayDrugListByUniProt_ID(data) {
                $("#content-target-table").html('');

                var target_area = document.getElementById('target-table');
                $("#infor-target-table").html(`<i>More information of <b>${data.Target} </b>`);

                    var drug_list = [];
                    for (var j = 0; j<data.ListOfDrugs.length;j++) {
                        var drug_url = "{% url 'drug_network' %}" + "?drug_bank_id=" + data.ListOfDrugs[j];
                        drug_list.push(`<a href="#" class="associated_drug" 
                                    data-drugbank_id="${data.ListOfDrugs[j]}"
                                    onclick="toggleDivVisibility(this, '${drug_url}')" 
                                    data-target="#atc_right"> ${data.ListOfDrugs[j]}`);
                }

                var tableHtml = `
                        <tr style="white-space: nowrap; background-color: rgba(241, 124, 14, 0.2);">
                            <td>${data.Target}</td>
                            <td>${data.NoOfDrugs}</td>
                            <td style="white-space: normal;"><div id="list_of_drug_cell">${drug_list}</div></td>
                            <td style="white-space: normal;">Coming soon</td>
                            <td class="long-content" >Coming soon</td>
                        </tr>
                        `;
                $("#content-target-table").html(tableHtml);
                $('html, body').animate({
                    scrollTop: $('#content-target-table').offset().top
                }, 2000);
                $("#target-table").show();
                var target_statistics_plot = document.createElement("div");
                target_statistics_plot.setAttribute("id", "target_statistics_plot");
            }
                
            // Function to show visualization
            function toggleDivVisibility(element, url) {
                var drugBankId = element.getAttribute('data-drugbank_id');
                var iframe = $("#myIframe");
                // var url = "https://entertainmentbuz.com/visual/d3/index1.html";
                iframe.attr('src', url);  // Set the iframe source using jQuery

                //showing the visualization module
                iframe.css('display', 'block');
                var element = $("#graphvisibility");
                element.css('display', 'block');
                element.css('color', 'grey');
            }
    </script>

    <!-- Showing all drugs associated with an ATC code -->
    <script>
        $(document).ready(function () {
            function clean_drug_network() {
                var drug_network = $('#graphvisibility');
                drug_network.css('display', 'none');
            }

            function list_associated_drugs_in_table(response) {
                var associations = response.associations;
                var right_panel = document.getElementById('drug-table');
                right_panel.innerHTML = "";
                var right_panel_text = document.createElement("span");
                right_panel_text.style.fontSize = "16px";
                
                right_panel_text.style.color = '#337ab7'; 
                right_panel_text.style.fontWeight = "bold";
                var right_panel_text_guide = document.createElement("span");
                right_panel_text_guide.style.fontSize = "14px";
                var drug_bank_ids = [];
                // Check if the 'associations' key exists in the JSON response
                if (associations.length > 0) {
                    var tableHtml = '<table id="associated_drug_tbl" ><thead style="text-align: left;"><tr><th style="white-space: nowrap;">Drugbank ID</th><th style="white-space: nowrap;">Drug name</th><th style="white-space: nowrap;">No. of target</th><th style="white-space: nowrap;">List of target &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th><th>Short description</th></tr></thead><tbody>';
                    // var atc_url = "{% url 'drugs_network' %}";
                    for (var i = 0; i < associations.length; i++) {
                        var row = associations[i];
                        drug_bank_ids.push(row.drug_bankID);
                        var drug_url = "{% url 'drug_network' %}" + "?drug_bank_id=" + row.drug_bankID;
                        var targetLinks = [];
                        for (var j = 0; j<row.target_list.length;j++) {
                            targetLinks.push(`<a class="uniProt_ID" onmouseover="showTargetTable('${row.target_list[j].uniProt_ID}')" target="_blank" href="/gene/${row.target_list[j].gene_id}"> ${row.target_list[j].uniProt_ID}</a>`);
                        }
                        tableHtml += `
                        <tr style="white-space: nowrap;">
                            <td>
                                <a href="#" class="associated_drug" 
                                data-drugbank_id="${row.drug_bankID}"
                                onclick="toggleDivVisibility(this, '${drug_url}')" 
                                data-target="#atc_right">
                                ${row.drug_bankID}
                                </a> <a href="https://go.drugbank.com/drugs/${row.drug_bankID}" style="font-size:14px; color:grey; text-decoration: underline;" target="_blank";>[Ref]</a>
                            </td>
                            <td>${row.name}</td>
                            <td>${row.target_list.length}</td>
                            <td style="white-space: normal;">${targetLinks}</td>
                            <td class="long-content" >${row.description}</td>
                        </tr>
                        `
                    }
                    tableHtml += '</tbody></table>';
                    var verb = "";
                    if (associations.length == 1) {
                        verb = " is ";
                    } else {
                        verb = " are ";
                    }
                    var atc_url = "{% url 'drugs_network' %}"+"?drug_bank_ids="+drug_bank_ids.toString();
                    right_panel_text.innerHTML = "There " + verb + associations.length + " drugs associated with " + response.atc_code;
                    right_panel_text_guide.innerHTML = `</br> <i>Click on each drugbank ID in the below table to show the interacted proteins for that specific drug or click <a onclick="toggleDivVisibility(this, '${atc_url}')">here</a> to switch back to the network of </i>` + response.atc_code;
                    right_panel_text_guide.style.fontWeight = "italic";
                    right_panel_text_guide.style.display = "block";
                    right_panel_text_guide.style.marginBottom = "10px";
                    var right_panel_content = document.createElement("div");
                    right_panel_content.id = "atc_right_table";
                    right_panel_content.style.marginRight = '30px';
                    right_panel_content.innerHTML = tableHtml;
                    right_panel.appendChild(right_panel_text);
                    if (associations.length > 1) {
                        right_panel.appendChild(right_panel_text_guide);
                    }
                    right_panel.appendChild(right_panel_content);

                } else {
                    right_panel_text.innerHTML = "There is no targeting drugs associated with " + response.atc_code;
                    right_panel.appendChild(right_panel_text);
                    clean_drug_network()
                }
            }

            // Get all the network buttons and their corresponding network text elements
            const networkButtons = document.querySelectorAll(".network-button");
            const networkTextElements = document.querySelectorAll(".atc-network");

            // Add event listeners to each button
            networkButtons.forEach((button, index) => {
                button.addEventListener("click", () => showATCLevelNetwork(index));
                button.addEventListener("mouseover", () => showText(index));
                button.addEventListener("mouseout", () => hideText(index));
            });

            // Function to show the ATC level drug-target network 
            function showATCLevelNetwork(index) {
                const button = networkButtons[index];
                const atcCode = button.getAttribute("data-atc-code");
                
                const url = button.getAttribute('data-remote-url');
                console.log("begin");
                $.ajax(
                    {
                        url: url,
                        type: "GET",
                        data: {
                            'atc_code': atcCode,
                        },
                        success: function (response) {
                            list_associated_drugs_in_table(response);
                            draw_atc_level_network(button, response);
                            console.log("done");
                        },
                        error: function (xhr, status, error) {
                            console.log('AJAX Error:', error);
                        }
                    })
                }
                
                // 
                function draw_atc_level_network(button, response) {
                    var drug_bank_ids = [];
                    associations = response.associations
                    if (associations.length > 0) {
                        for (var i = 0; i < associations.length; i++) {
                            var row = associations[i];
                            drug_bank_ids.push(row.drug_bankID);
                        }
                        var atc_url = "{% url 'drugs_network' %}" + "?drug_bank_ids=" + drug_bank_ids.toString();
                        toggleDivVisibility(button, atc_url)
                    }
                }
            

            // Function to show the text based on the button index
            function showText(index) {
                networkTextElements[index].style.display = "inline";
            }

            // Function to hide the text based on the button index
            function hideText(index) {
                networkTextElements[index].style.display = "none";
            }

            

            $("a.uniProt_ID").hover(function() {
                var uniProt_ID = $(this).text();
                $.ajax(
                    {
                        url: "{% url 'get-drug-list-by-uniprotID' %}?uniProt_ID="+uniProt_ID,
                        type: "GET",
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            console.log('AJAX Error:', error);
                        }
                    });
            });
        });

    </script>
{% endblock %}