{% extends "home/base.html" %}
{% load static %}
{% csrf_token %}

{% block addon_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'drug/css/atc_lookup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'drug/css/atc_detail.css' %}">
    <style>
        .tooltip {
            background-color: #fff;
            color: #333333;
            font-weight: bolder;
            padding: 2px 3px;
            border-radius: 5px;
            font-size: 14px;
            position: absolute;
            z-index: 999;
            border: 1px solid #333333;
          }
        
          a:hover {
            cursor: pointer;
            }
        #atc_level_network_statistics{
            /* height: 400px; */
            display: none;
            width: 98%;
        }
        #atc_level_network_statistics span{
            font-size: 16px;
            color: #337ab7; 
            font-weight: bold;
        }

        #genebased-burden-distribution{
            display: none;
        }
    </style>
    
{% endblock %}

{% block content %}
    {% autoescape off %}
        <div class="grid-container">
        {% include 'atc_detail/left_navigation.html' %}
            <div id="atc_right" class="col-8">
                <!-- block for showing the drug table -->
                <div id='drug-table'>
                </div>
                <!-- block for showing the atc level network statistics -->
                <div id='atc_level_network_statistics'>
                    <p>
                        <span id="atc_level_network_statistics_text"> </span>
                    </p>
                    <div class="row">
                        <div class="col-md-4 col-sm-12" >
                            <div style="display: flex; flex-direction: row;">
                                    <div class="card-body text-center" style="margin-left: 5px; margin-top: 20px;">
                                        <p style="font-style: italic; text-align: left;">Mode of action</p>
                                        <div id="chart-container-ATC-interaction-type" style="width: 150px; height: 150px;">
                                            <svg id="pie-chart-ATC-interaction-type"></svg>
                                        </div>
                                    </div>
                                    <div class="card-body text-center" style="margin-left: 5px; margin-top: 20px;">
                                        <p style="font-style: italic; text-align: left;">Drug type</p>
                                        <div id="chart-container-ATC-drug-type" style="width: 150px; height: 150px;">
                                            <svg id="pie-chart-ATC-drug-type"></svg>
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="card-body text-center" style="margin-left: 5px; margin-top: 20px;">
                                    <p style="font-style: italic; text-align: left;">Drug clinical status</p>
                                    <!--PieChart Code here-->
                                    <div id="chart-container-ATC-drug-status" style="width: 150px; height: 150px;">
                                        <svg id="pie-chart-ATC-drug-status"></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="genebased-burden-distribution" class="col-md-8 col-sm-12" >
                            {% include '_buttons.html' %}
                            <p style="font-style: italic; text-align: left;">Gene-based burden distribution</p>
                            <!-- A datatable here  -->
                            <div  id="genebased-burden-distribution-div" style="margin-top: 20px;">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- block for showing network -->
                <div class="forcenetworkgraph" id="graphvisibility" style="display: none; width: 100%; margin: 10px 0; height: 90%">
                    <p> <span style="color: red;" id="network_overview"></span> </p>
                    <iframe id="myIframe" style="
                                                display: none;
                                                width: 98%;
                                                height: 100%;
                                                border: 1px solid black;
                                                margin-right: 5px;">
                    </iframe>
                </div>
                <!-- block for showing the target table -->
                <div id="target-table" style="display: none;">
                    <span style="font-style: italic; margin-bottom: 10px;" id="info-target-table"></span>
                    <!-- table  -->
                    <div id="associated_target_tbl">
                        <table id="associated_target_tbl" >
                            <thead style="text-align: left;">
                                <tr style="background-color: #f2f2f2;">
                                    <th style="white-space: nowrap;">Target &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                    <th style="white-space: nowrap;">No. of drugs &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                    <th style="white-space: normal;">List of drugs &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th>
                                    <th style="white-space: nowrap;">PGx information &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                        &nbsp; &nbsp; &nbsp;</th>
                                    <th>Other &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="content-target-table">
                            </tbody>
                        </table>
                    </div>
                    <!-- plots below the target table  -->
                    <div class="row">
                        <div class="col-md-2 col-sm-12" >
                            <div class="card-body text-center" style="margin-top: 20px;">
                                <p style="font-style: italic; text-align: left;">Mode of action</p>
                                <!--PieChart Code here-->
                                <div id="chart-container-interaction-type" style="width: 200px; height: 200px;">
                                    <svg id="pie-chart-interaction-type"></svg>
                                </div>
                                <!--PieChart End here-->
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12" >
                            <div class="card-body text-center" style="margin-top: 20px;">
                                <p style="font-style: italic; text-align: left;">Drug type</p>
                                <!--PieChart Code here-->
                                <div id="chart-container-drug-type" style="width: 200px; height: 200px;">
                                    <svg id="pie-chart-drug-type"></svg>
                                </div>
                                <!--PieChart End here-->
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12" >
                            <div class="card-body text-center" style="margin-top: 20px;">
                                <p style="font-style: italic; text-align: left;">Drug clinical status</p>
                                <!--PieChart Code here-->
                                <div id="chart-container-drug-status" style="width: 200px; height: 200px;">
                                    <svg id="pie-chart-drug-status"></svg>
                                </div>
                                <!--PieChart End here-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}

{% block addon_js %}

    <script src="{% static 'home/js/d3.v7.min.js' %}"></script> 
    <script src="{% static 'drug/js/target_table_statistics.js' %}"></script>  
    <script src="{% static 'drug/js/atc_network_statistics.js' %}"></script>  

    <script src="{% static 'home/js/datatables.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap2-toggle.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.dataTables.yadcf.js' %}"></script>
    <script src="{% static 'home/js/dataTables.buttons.min.js' %}"></script>

   

    <script>
        // JavaScript for toggling the visibility of nested lists
        document.querySelectorAll('.tree .desc').forEach(function (el) {
            el.addEventListener('click', function () {
                var parentLi = el.parentElement; 
                var ul = parentLi.querySelector('ul'); 
                if (ul) {
                    if (ul.style.display === "" || ul.style.display === "none") {
                        ul.style.display = 'block';
                    } else {
                        if (ul.style.display === 'block') {
                            ul.style.display = 'none';
                        }
                    }
                }
            });
        });
    </script>

    <script>

            var countClick=0;
            var timer = null;
            function showData(event, uniProt_ID) {
                countClick++;
                if (countClick === 1) {
                    timer = setTimeout(function() {
                        countClick = 0;
                        showTargetTable(uniProt_ID)
                    }, 500);
                } else {
                    clearTimeout(timer);
                    var urlOpen = event.getAttribute("data-href");
                    window.open(urlOpen, "_blank");
                    countClick =0 ;
                }
            }
            function showTargetTable(uniProt_ID){
                $.ajax(
                    {
                        url: "{% url 'get-drug-list-by-uniprotID' %}?uniProt_ID="+uniProt_ID,
                        type: "GET",
                        success: function (response) {
                            displayDrugListByUniProt_ID(response.response_data);
                            const target_type_data = [
                                    { category: "Target", value: response.response_data.NoOfTargetTypes },
                                    { category: "Enzyme", value: response.response_data.NoOfEnzymeTypes },
                                    { category: "Transporter", value: response.response_data.NoOfTransporterTypes },
                                    { category: "Carrier", value: response.response_data.NoOfCarrierTypes },
                                ];
                            createPieChartForTargetType(target_type_data);
                            const drug_type_data = [
                                    { category: "Small Molecule", value: response.response_data.NoOfSmallMolecule },
                                    { category: "Biotech", value: response.response_data.NoOfBiotech },
                                ];
                            createPieChartForDrugType(drug_type_data);
                            const drug_status_data = [
                                    { category: "Nutraceutical", value: response.response_data.NoOfNutraceuticalDrug },
                                    { category: "Experimental", value: response.response_data.NoOfExperimentalDrug },
                                    { category: "Investigational", value: response.response_data.NoOfInvestigationalDrug },
                                    { category: "Approved", value: response.response_data.NoOfApprovedDrug },
                                    { category: "VetApproved", value: response.response_data.NoOfVetApprovedDrug },
                                    { category: "Illicit", value: response.response_data.NoOfIllicitDrug },
                                ];
                            createPieChartForDrugStatus(drug_status_data);
                        },
                        error: function (xhr, status, error) {
                            console.log('AJAX Error:', error);
                        }
                    });
            }

            function showAtcLevelNetworkStatistics(atc_code){
                $.ajax(
                    {
                        url: "{% url 'get-statistics-by-atc' %}?atc_code="+atc_code,
                        type: "GET",
                        success: function (response) {
                            // displayStatisticsByAtcCode(response.response_data);
                            const target_type_data = [
                                    { category: "Target", value: response.NoOfTargetTypes },
                                    { category: "Enzyme", value: response.NoOfEnzymeTypes },
                                    { category: "Transporter", value: response.NoOfTransporterTypes },
                                    { category: "Carrier", value: response.NoOfCarrierTypes },
                                ];
                            createPieChartForATCTargetType(target_type_data);
                            const drug_type_data = [
                                    { category: "Small Molecule", value: response.NoOfSmallMolecule },
                                    { category: "Biotech", value: response.NoOfBiotech },
                                ];
                            createPieChartForATCDrugType(drug_type_data);
                            const drug_status_data = [
                                    { category: "Nutraceutical", value: response.NoOfNutraceuticalDrug },
                                    { category: "Experimental", value: response.NoOfExperimentalDrug },
                                    { category: "Investigational", value: response.NoOfInvestigationalDrug },
                                    { category: "Approved", value: response.NoOfApprovedDrug },
                                    { category: "VetApproved", value: response.NoOfVetApprovedDrug },
                                    { category: "Illicit", value: response.NoOfIllicitDrug },
                                ];
                            createPieChartForATCDrugStatus(drug_status_data);
                        },
                        error: function (xhr, status, error) {
                            console.log('AJAX Error:', error);
                        }
                    });
            }
            function showAtcLevelNetworkBurden(atc_code){
                $.ajax(
                    {
                        url: "{% url 'get-gene-based-burden-data-by-atc' %}?atc_code="+atc_code,
                        type: "GET",
                        success: function (response) {
                            //chart-container-ATC-gene-based-burden
                            const ATC_gene_based_burden_data = [
                                    { category: "p_value_target", value: response.p_value_target },
                                    { category: "p_value_transporter", value: response.p_value_transporter },
                                    { category: "p_value_carrier", value: response.p_value_carrier },
                                    { category: "p_value_enzyme", value: response.p_value_enzyme },
                                    { category: "beta_value_target", value: response.beta_value_target },
                                    { category: "beta_value_transporter", value: response.beta_value_transporter },
                                    { category: "beta_value_carrier", value: response.beta_value_carrier },
                                    { category: "beta_value_enzyme", value: response.beta_value_enzyme },
                                ];
                            createPieChartForATCGeneBasedBurden(ATC_gene_based_burden_data);
                        },
                        error: function (xhr, status, error) {
                            console.log('AJAX Error:', error);
                        }
                    });
            }



            function displayDrugListByUniProt_ID(data) {
                $("#content-target-table").html('');

                var target_area = document.getElementById('target-table');
                $("#infor-target-table").html(`<i>More information of <b>${data.Target} </b>`);

                    var drug_list = [];
                    for (var j = 0; j<data.ListOfDrugIDs.length;j++) {
                        var drug_url = "{% url 'drug_network' %}" + "?drug_bank_id=" + data.ListOfDrugIDs[j];
                        drug_list.push(`<i class="fa-solid fa-pills"><a href="#" class="associated_drug" 
                                    data-drugbank_id="${data.ListOfDrugIDs[j]}"
                                    onclick="toggleDivVisibility(this, '${drug_url}')" 
                                    data-target="#atc_right"> <span style="font-style: normal; font-family: 'Helvetica', 'Arial', sans-serif;">${data.ListOfDrugNames[j]}</span></a></br>`);
                }

                var tableHtml = `
                        <tr style="white-space: nowrap; background-color: rgba(241, 124, 14, 0.2);">
                            <td>${data.Genename}</td>
                            <td>${data.NoOfDrugs}</td>
                            <td style="white-space: normal;"><div id="list_of_drug_cell">${drug_list.join("")}</div></td>
                            <td style="white-space: normal;">Coming soon</td>
                            <td class="long-content" >Coming soon</td>
                        </tr>
                        `;
                $("#content-target-table").html(tableHtml);
                $('html, body').animate({
                    scrollTop: $('#content-target-table').offset().top
                }, 2000);
                $("#target-table").show();
                var target_statistics_plot = document.createElement("div");
                target_statistics_plot.setAttribute("id", "target_statistics_plot");

                var drug_type_statistics_plot = document.createElement("div");
                drug_type_statistics_plot.setAttribute("id", "drug_type_statistics_plot");
            }
                
            // Function to show visualization
            function toggleDivVisibility(element, url) {
                var drugBankId = element.getAttribute('data-drugbank_id');
                var iframe = $("#myIframe");
                // var url = "https://entertainmentbuz.com/visual/d3/index1.html";
                iframe.attr('src', url);  // Set the iframe source using jQuery

                //showing the visualization module
                iframe.css('display', 'block');
                var element = $("#graphvisibility");
                element.css('display', 'block');
                element.css('color', 'grey');
            }
    </script>

    <!-- Showing all drugs associated with an ATC code -->
    <script>
        $(document).ready(function () {
            function clean_drug_network() {
                var drug_network = $('#graphvisibility');
                drug_network.css('display', 'none');
            }

            // Showing all drugs associated with an ATC code
            function list_associated_drugs_in_table(response) {
                var right_panel = document.getElementById('drug-table');
                right_panel.innerHTML = "";
                var right_panel_text = document.createElement("span");
                right_panel_text.style.fontSize = "16px";
                right_panel_text.style.color = '#337ab7'; 
                right_panel_text.style.fontWeight = "bold";
                var right_panel_text_guide = document.createElement("span");
                right_panel_text_guide.style.fontSize = "14px";

                var associations = response.associations;
                var drug_bank_ids = [];
                // Check if the 'associations' key exists in the JSON response
                if (associations.length > 0) {
                    var tableHtml = '<table id="associated_drug_tbl" ><thead style="text-align: left;"><tr><th style="white-space: nowrap;">Drugbank ID</th><th style="white-space: nowrap;">Drug name</th><th style="white-space: nowrap; text-align: center;">No. of interacting proteins</th><th style="white-space: nowrap;">List of interacting proteins</br><i>(Show in gene names)</i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</th><th>Short description</th></tr></thead><tbody>';
                    
                    for (var i = 0; i < associations.length; i++) {
                        var row = associations[i];
                        drug_bank_ids.push(row.drug_bankID);
                        var drug_url = "{% url 'drug_network' %}" + "?drug_bank_id=" + row.drug_bankID;
                        var targetLinks = [];
                        for (var j = 0; j<row.target_list.length;j++) {
                            targetLinks.push(`<a class="uniProt_ID" onclick="showData(this, '${row.target_list[j].uniProt_ID}')" target="_blank" data-href="/gene/${row.target_list[j].gene_id}"> ${row.target_list[j].genename}</a>`);
                        }
                        tableHtml += `
                        <tr style="white-space: nowrap;">
                            <td style="vertical-align: top;">
                                <a href="#" class="associated_drug" 
                                data-drugbank_id="${row.drug_bankID}"
                                onclick="toggleDivVisibility(this, '${drug_url}')" 
                                data-target="#atc_right">
                                ${row.drug_bankID}
                                </a> <a href="https://go.drugbank.com/drugs/${row.drug_bankID}" style="font-size:14px; color:grey; text-decoration: underline;" target="_blank";>[Ref]</a>
                            </td>
                            <td style="vertical-align: top;" >${row.name}</td>
                            <td style="vertical-align: top; text-align: center;">${row.target_list.length}</td>
                            <td style="white-space: normal;">${targetLinks}</td>
                            <td class="long-content" style="vertical-align: top;">${row.description}</td>
                        </tr>
                        `
                    }
                    tableHtml += '</tbody></table>';
                    var verb = "";
                    if (associations.length == 1) {
                        right_panel_text.innerHTML = "Drug '"+associations[0].name + "' and " + response.total_interaction + " proteins are in the network associated with " + response.atc_code;
                    } else {
                        right_panel_text.innerHTML = "There are " + associations.length + " drugs, " +  response.no_of_interacted_protein + " proteins, " + response.total_interaction + " interactions in the network associated with " + response.atc_code;
                    }
                    var atc_url = "{% url 'drugs_network' %}"+"?drug_bank_ids="+drug_bank_ids.toString();
                    right_panel_text_guide.style.fontWeight = "italic";
                    right_panel_text_guide.style.display = "block";
                    right_panel_text_guide.style.marginBottom = "10px";
                    var right_panel_content = document.createElement("div");
                    right_panel_content.id = "atc_right_table";
                    right_panel_content.style.marginRight = '30px';
                    right_panel_content.innerHTML = tableHtml;
                    right_panel.appendChild(right_panel_text);
                    if (associations.length > 1) {
                        right_panel_text_guide.innerHTML = `</br> <i>** In the 1st column, click on each Drugbank ID to show the individual network for that specific drug or click <a onclick="toggleDivVisibility(this, '${atc_url}')">here</a> to switch back to the ATC level network of </i> ${response.atc_code}
                        </br> <i>** In the 4th column, on each gene name, <u>click</u> to roll to the view of target-drug; <u>double click</u> to open the gene detail page; </i> `;
                    }
                    else{
                        right_panel_text_guide.innerHTML = `</br> <i>** In the 4th column, on each gene name, <u>click</u> to roll to the view of target-drug; <u>double click</u> to open the gene detail page; </i> `;
                    }
                    right_panel.appendChild(right_panel_text_guide);
                    right_panel.appendChild(right_panel_content);
                    
                    // Adding the atc_level_network_statistics if there is drug associated with this ATC code
                    var atc_level_network_statistics = document.getElementById("atc_level_network_statistics");
                    atc_level_network_statistics.style.display="block";
                    showAtcLevelNetworkStatistics(response.atc_code);

                    var atc_level_network_burden = document.getElementById("genebased-burden-distribution");
                    atc_level_network_burden.style.display="block";

                    var atc_level_network_statistics_text = document.getElementById("atc_level_network_statistics_text");
                    atc_level_network_statistics_text.innerHTML="Network statistics for "+response.atc_code;

                    var burden_data = response.burden_data;
                    var tableHtml = '<table class="display compact text-nowrap" id="genebased-burden-distribution-table"><thead style="text-align: left;"><tr><th style="white-space: nowrap;">Drugbank ID &nbsp; &nbsp; &nbsp; &nbsp; </th><th style="white-space: nowrap;">Gene name&nbsp; &nbsp; &nbsp; &nbsp; </th><th style="white-space: nowrap; text-align: center;">MOA &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </th><th>P-value &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </th><th>P-value </br>burden&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; </th><th>P-value </br>SKAT&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </th><th>BETA </br>burden&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</th></tr></thead><tbody>';
                    
                    for (var k=0; k<burden_data.length; k++){
                        row = burden_data[k];
                        for (var l=0; l<row.burden_data.length; l++){
                            value = row.burden_data[l];
                            tableHtml+=`
                            <tr>
                                <td style="vertical-align: top;" >${row.drug_id}</td>
                                <td style="vertical-align: top;" >${row.gene_name}</td>
                                <td style="vertical-align: top;" >${row.moa}</td>
                                <td style="vertical-align: top;" >${Number(value.Pvalue).toFixed(3)}</td>
                                <td style="vertical-align: top;" >${Number(value.Pvalue_Burden).toFixed(3)}</td>
                                <td style="vertical-align: top;" >${Number(value.Pvalue_SKAT).toFixed(3)}</td>
                                <td style="vertical-align: top;" >${Number(value.BETA_Burden).toFixed(3)}</td>
                            </tr>`;
                        }
                    }
                    tableHtml += '</tbody></table>';
                    var genebased_burden_distribution_div = document.getElementById("genebased-burden-distribution-div");
                    genebased_burden_distribution_div.innerHTML = tableHtml;
                    let structures_scrollable = $("#genebased-burden-distribution-table");
                    structures_scrollable.show();
                    let oTable1 = structures_scrollable.DataTable({
                        deferRender: true,
                        scrollY: true,
                        scrollX: true,
                        scrollCollapse: true,
                        scroller: true,
                        paging: true,
                        bSortCellsTop: false, //prevent sort arrows going on bottom row
                        aaSorting: [],
                        autoWidth: true,
                        bInfo: true,
                        order: [[0, "asc"]],
                        pagingType: 'full_numbers',
                        lengthMenu: [
                            [10, 20, 30, 40, 50],
                            [10, 20, 30, 40, 50],
                        ],
                    })

                    // draw_multiple_variant_plot(variant_maker_data_draw_plot);
                    let column_filters = [];
                    // createYADCFfilters(start_column, num_cols, filter_type, select_type = null, filter_default_label = "", filter_reset_button_text = false, filter_match_mode = null, column_data_type = null, width = null)
                    // Drug id
                    column_filters = column_filters.concat(createYADCFfilters(0, 1, "auto_complete", null, "select", false, null, null, "60px"));
                    //Gene
                    column_filters = column_filters.concat(createYADCFfilters(1, 1, "auto_complete", null, "select", false, null, null, "60px"));
                    //MOA
                    column_filters = column_filters.concat(createYADCFfilters(2, 1, "auto_complete", null, "select", false, null, null, "60px"));
                    //Phenocode
                    // column_filters = column_filters.concat(createYADCFfilters(3, 1, "auto_complete", null, "select", false, null, null, "60px"));
                    //p_value
                    column_filters = column_filters.concat(createYADCFfilters(3, 1, "range_number", null, ["Min", "Max"], false, null, null, width="70px"));
                    //p_value burden
                    column_filters = column_filters.concat(createYADCFfilters(4, 1, "range_number", null, ["Min", "Max"], false, null, null, width="70px"));
                    //p_value SKAT
                    column_filters = column_filters.concat(createYADCFfilters(5, 1, "range_number", null, ["Min", "Max"], false, null, null, width="70px"));
                    //BETA burden
                    column_filters = column_filters.concat(createYADCFfilters(6, 1, "range_number", null, ["Min", "Max"], false, null, null, width="70px"));

                    // update filters
                    yadcf.init(
                        oTable1,column_filters, {
                            cumulative_filtering: false,
                            rowCallBack: function(row, data) {
                                console.log("row");
                            }
                        }
                    );
                    $(".yadcf-filter-wrapper").find('input.yadcf-filter-range-number.yadcf-filter-range').attr('size', '4');
                    $(".yadcf-filter-wrapper").find('input.yadcf-filter.ui-autocomplete-input').attr('size', '10')
                    $("#genebased-burden-distribution-table_filter").find("input").css("margin-left", "10px");

                    // var span_seperators = $("span.yadcf-filter-range-number-seperator");
                    // alert("span_seperators "+span_seperators.length);
                    // for (var i = 0; i < span_separators.length; i++) {
                    //     span_separators[i].innerHTML = "</br>";
                    // }


                } else {
                    right_panel_text.innerHTML = "There is no targeting drugs associated with " + response.atc_code;
                    right_panel.appendChild(right_panel_text);
                    clean_drug_network()
                }
            }
            $(document).ready(function() {
                $(".yadcf-filter-wrapper").find('input.yadcf-filter.ui-autocomplete-input').parentsUntil('th').css('width', '40px');
                $(".yadcf-filter-wrapper").find('input.yadcf-filter.ui-autocomplete-input').parentsUntil('td').css('width', '40px');
                $(".yadcf-filter-wrapper").find('input.yadcf-filter.ui-autocomplete-input').attr('size', '10');
                $(".yadcf-filter-wrapper").find('input.yadcf-filter-range-number.yadcf-filter-range').parentsUntil('th').css('width', '40px');
                $(".yadcf-filter-wrapper").find('input.yadcf-filter-range-number.yadcf-filter-range').parentsUntil('td').css('width', '40px');
                $(".yadcf-filter-wrapper").find('input.yadcf-filter-range-number.yadcf-filter-range').attr('size', '10');
            });
            // Get all the network buttons defined in left_navigation.html
            const networkButtons = document.querySelectorAll(".network-button");

            // Add event listeners to each button
            networkButtons.forEach((button, index) => {
                button.addEventListener("click", () => showATCLevelNetwork(index));
            });

            // Function to show the ATC level drug-target network where there is at least one drug
            function showATCLevelNetwork(index) {
                const button = networkButtons[index];
                const atcCode = button.getAttribute("data-atc-code");
                
                const url = button.getAttribute('data-remote-url'); //"{% url 'get-drug-atc-association' %}"
                $.ajax(
                    {
                        url: url,
                        type: "GET",
                        data: {
                            'atc_code': atcCode,
                        },
                        success: function (response) {
                            list_associated_drugs_in_table(response);
                            draw_atc_level_network(button, response);
                        },
                        error: function (xhr, status, error) {
                            console.log('AJAX Error:', error);
                        }
                    })
            }
                
            // a newwork where there is at least one drug
            function draw_atc_level_network(button, response) {
                var drug_bank_ids = [];
                associations = response.associations
                if (associations.length > 0) {
                    for (var i = 0; i < associations.length; i++) {
                        var row = associations[i];
                        drug_bank_ids.push(row.drug_bankID);
                    }
                    var atc_url = "{% url 'drugs_network' %}" + "?drug_bank_ids=" + drug_bank_ids.toString();
                    toggleDivVisibility(button, atc_url)
                }
            }

            //handle case where there are more parameters
            var urlParams = new URLSearchParams(window.location.search);
            
            //case 1: drug_id is passed when the drug has no atc code --> left panel just has None, no atc hierachy tree
            if (urlParams.has('drug_id')) { //  drug_id: query_string param
                var drug_id = urlParams.get('drug_id')
                const button = networkButtons[0];
                $.ajax(
                    {
                        url: "{% url 'get-drug-association' %}?drug_id="+drug_id,
                        type: "GET",
                        success: function (response) {
                            list_associated_drugs_in_table(response);
                            draw_atc_level_network(button, response);
                            $(document).ready(function() {
                                // Use setTimeout to introduce a delay
                                setTimeout(function() {
                                    var linkToClick = $("#associated_drug_tbl").find('tbody').find('tr').eq(0).find('td').eq(0).find('a');
                                    // Trigger click event
                                    linkToClick.trigger('click');
                                    }, 1000);  
                                    
                            });
                        },
                        error: function (xhr, status, error) {
                            console.log('AJAX Error:', error);
                        }
                    });
            }
        });
        
    </script>
{% endblock %}