{% load static %}
{% csrf_token %}



<div role="tabpanel" class="tab-pane" id="tab_network_comparison">

    <div style="display: flex; flex-direction: row; gap: 20px; margin-top: 15px;">
        <div style="display: flex; flex-direction: column; gap: 10px; align-items: center;">
            <label for="atc_comparison" style="font-size: 16px; color: rgb(51, 122, 183); font-weight: bold;">Input an
                ATC code for network comparison</label>
            <input type="text" id="atc_comparison" class="form-text form-type-textfield form-control optional ui-autocomplete-input" autocomplete="on" placeholder="ATC code" style="width: 100%;">
            <div class="autocomplete-outer">
                <div id="atc-comparison-autocomplete-results" >
                </div>
            </div>
            <button id="btn-network-compare" type="button" style="width: 200px; border-radius: 5px;"
                class="btn-primary">Compare</button>
        </div>
        <div>
            <select id="compare-type" multiple class="form-control input-lg" size="13">
                <option value="no-selection" selected="selected">Select an option</option>
                <!-- <option value="align_network">&nbsp;&nbsp;&nbsp;&nbsp;- Align network</option> -->
                <option value="compare_network_size">&nbsp;&nbsp;&nbsp;&nbsp;- Compare Network size</option>
                <option value="compare_association_distritution">&nbsp;&nbsp;&nbsp;&nbsp;- Compare Degree distritution
                    (Drug-Disease network)</option>
                <option value="compare_degree_distritution">&nbsp;&nbsp;&nbsp;&nbsp;- Compare Degree distritution
                    (Drug-Protein network)</option>
                <option value="compare_moa_distribution">&nbsp;&nbsp;&nbsp;&nbsp;- Compare Mode of Action distribution
                    (Drug-Protein network)</option>
                <option value="see_clinical_trial_phase_distribution">&nbsp;&nbsp;&nbsp;&nbsp;- Compare Clinical trial
                    phase distribution (Drug-Disease network)</option>
                <option value="measure_centralization_dd">&nbsp;&nbsp;&nbsp;&nbsp;- Compare Degree of Centralization
                    (Drug-Disease network)</option>
                <option value="measure_centralization_dp">&nbsp;&nbsp;&nbsp;&nbsp;- Compare Degree of Centralization
                    (Drug-Protein network)</option>
                <option value="calculate_path_length_DD">&nbsp;&nbsp;&nbsp;&nbsp;- Calculate Average path length
                    (Drug-Disease network)</option>
                <option value="calculate_path_length_DP">&nbsp;&nbsp;&nbsp;&nbsp;- Calculate Average path length
                    (Drug-Protein network)</option>
                <option value="detect_community_dd">&nbsp;&nbsp;&nbsp;&nbsp;- Detect community (Drug-Disease network)
                </option>
                <option value="detect_community_dp">&nbsp;&nbsp;&nbsp;&nbsp;- Detect community (Drug-Protein network)
                </option>
                <option value="see_common_and_unique_elements">&nbsp;&nbsp;&nbsp;&nbsp;- See Common and Unique network
                    elements</option>
            </select>
        </div>
        <div id="selectionExplanation" style="display:none;">
            <ul class="callouts">
                <li class="callouts--left" id="optionExplanation"></li>
            </ul>

        </div>
    </div>
    <div id="result-compare-area" style="margin-top: 30px; display: flex; flex-direction: column; align-items: center;">
        <div id="result-compare-area-text"></div>
        <table id="result-compare-table">
        </table>
        <div id="result-compare-box" style="display: flex; margin-top: 20px; width: 100%;">
            <div style="width: 50%;" id="atc_code_box">
            </div>
            <div style="width: 50%;" id="atc_comparison_box">
            </div>
        </div>
    </div>
</div>

{% block addon_js %}
<script src="{% static 'home/js/selection-autocomplete.js' %}"></script>

<script>
    //$(document).ready(function () {
        //alert("We are sure to be here");
        // autocomplete 
        var autocompleteResults = $('#atc-comparison-autocomplete-results');
        $('#atc_comparison').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'atc-comparison-autocomplete-view' %}",
                    data: {
                        query: request.term
                    },
                    dataType: 'json',
                    success: function (data) {
                        //alert(data.suggestions);
                        if (data.suggestions.length==0){
                            alert("Please enter a valid ATC code!");
                            $("#btn-network-compare").attr("disabled", "true");
                            $("#btn-network-compare").addClass("btn-disabled");
                        }
                        else {
                            $("#btn-network-compare").removeAttr("disabled");
                            $("#btn-network-compare").removeClass("btn-disabled");
                            response(data.suggestions);
                        }
                        
                    }
                });
            },
            autoFocus: true,
            minLength: 3,
            select: function (event, ui) {
                $('#atc_comparison').val(ui.item.value);
                return false;
            },
            open: function (event, ui) {
                autocompleteResults.show(); 
            },
            close: function (event, ui) {
                autocompleteResults.hide(); 
            }
        });
    //});

</script>

<script>
    function isValidATC(atc_comparison){
        return true;
    }
    $("#compare-type").on('change', function() {
        var compare_type = $(this).val();
        
        if (compare_type != "no-selection") {
            $("#selectionExplanation").show();

            if (compare_type == "compare_network_size") {
                $("#optionExplanation").html("Comparing 2 networks on number of nodes (drug, protein, disease), drug-protein interactions, and drug-disease association studies. This allows to see if one is larger or more complex than the other.");
            } else if (compare_type == "compare_degree_distritution") {
                $("#optionExplanation").html("Comparing 2 networks on distribution of degree of drug-protein interaction nodes . This helps to understand the connectivity patterns.");
            } else if (compare_type == "compare_association_distritution") {
                $("#optionExplanation").html("Comparing 2 networks on distribution of degree of drug-disease association nodes. This helps to understand the connectivity patterns.");
            } else if (compare_type == "compare_moa_distribution") {
                $("#optionExplanation").html("Examine the distribution of modes of action (target, transporter, enzyme) for drugs in both networks. This helps to identify if one network has a predominant mode of action.");
            } else if (compare_type == "see_clinical_trial_phase_distribution") {
                $("#optionExplanation").html("Analyze the distribution of clinical trial phases for drug-disease associations in each network. This helps to understand the focus of clinical studies.");
            } else if (compare_type == "measure_centralization_dd") {
                $("#optionExplanation").html("Measure the degree of centralization in each network to identify highly connected drug or disease nodes. This checks if one network has a more centralized structure than the other.");
            } else if (compare_type == "measure_centralization_dp") {
                $("#optionExplanation").html("Measure the degree of centralization in each network to identify highly connected drug or protein nodes. This checks if one network has a more centralized structure than the other.");
            }else if (compare_type == "calculate_path_length_DD") {
                $("#optionExplanation").html("Calculate the average shortest path length between drug or disease nodes in each network. This compares the efficiency of information transfer within the networks.");
            }else if (compare_type == "calculate_path_length_DP") {
                $("#optionExplanation").html("Calculate the average shortest path length between drug or protein nodes in each network. This compares the efficiency of information transfer within the networks.");
            }else if (compare_type == "detect_community_dd" || compare_type == "detect_community_dp") {
                $("#optionExplanation").html("Apply community detection algorithms to identify clusters or modules within each network. This compares the community structures to understand functional modules.");
            }else if (compare_type == "see_common_and_unique_elements") {
                $("#optionExplanation").html("Identify the common drugs, proteins, and diseases shared between the two networks. This highlights unique elements in each network to understand their specific characteristics.");
            }
            $("#optionExplanation").css("font-style", "italic").css("font-size", "12px");
        }
    });

    $("#btn-network-compare").click(function() {
        var compare_type = $("#compare-type").val();
        var atc_comparison = $("#atc_comparison").val().split(" ")[0];
        var urlCompare;
        var compareTask;
        var compareText;
        if (atc_comparison!="" & isValidATC(atc_comparison)){
                if(compare_type == "no-selection") {
                    alert("Please select a comparison type!");
                }
                else if(compare_type == "align_network") {
                    urlCompare = "{% url 'get-statistics-by-atc-for-network-size-comparison' %}";
                    compareTask= "alignNetwork";
                    $("#optionExplanation").html("abc");
                }
                else if(compare_type == "compare_network_size") { //not yet
                    urlCompare = "{% url 'get-statistics-by-atc-for-network-size-comparison' %}";
                    compareTask= "compareNetworkSize";
                    compareText = "Network size"
                    $("#optionExplanation").html("compare_network_size");
                }
                else if(compare_type == "compare_degree_distritution") {
                    urlCompare = "{% url 'get-data-for-comparing-network-degree-distribution' %}";
                    compareTask= "distributionPlot";
                    compareText = "Degree distribution of DRUG-PROTEIN network ";
                    $("#optionExplanation").html("compare_degree_distritution");
                }
                else if(compare_type == "compare_association_distritution") {
                    urlCompare = "{% url 'get-data-for-comparing-network-associate-distribution' %}";
                    compareTask= "distributionPlot";
                    compareText = "Degree distribution of DRUG-DISEASE network ";
                }
                else if(compare_type == "compare_moa_distribution") {
                    urlCompare = "{% url 'get-statistics-by-atc-code-for-MOA-comparison' %}";
                    compareTask= "distributionPlotCategory";
                    compareText = "DRUG-PROTEIN Mode of action distribution";
                }
                else if(compare_type == "see_clinical_trial_phase_distribution") {
                    urlCompare = "{% url 'get-statistics-by-atc-for-clinical-trial-phase-comparison' %}";
                    compareTask= "distributionPlotCategory";
                    compareText = "DRUG-DISEASE clinical trial phase distribution";
                }
                else if(compare_type == "calculate_path_length_DD") {
                    urlCompare = "{% url 'get-statistics-by-atc-for-calculating-average-path-length-drug-disease' %}";
                    compareTask= "calculatePathLengthDD";
                    compareText = "Calculate path length of DRUG-DISEASE network";
                }
                else if(compare_type == "calculate_path_length_DP") {
                    urlCompare = "{% url 'get-statistics-by-atc-for-calculating-average-path-length-drug-protein' %}";
                    compareTask= "calculatePathLengthDP";
                    compareText = "Calculate path length of DRUG-PROTEIN network";
                }
                else if(compare_type == "measure_centralization_dd") {
                    urlCompare = "{% url 'get-statistics-by-atc-for-measure-centralization-drug-disease' %}";
                    compareTask= "measureCentralizationDD";
                    compareText = "Centrality measurement of DRUG-DISEASE network";
                }
                else if(compare_type == "measure_centralization_dp") {
                    urlCompare = "{% url 'get-statistics-by-atc-for-measure-centralization-drug-protein' %}";
                    compareTask= "measureCentralizationDP";
                    compareText = "Centrality measurement of DRUG-PROTEIN network";
                }
                else if(compare_type == "detect_community_dd") {
                    urlCompare = "{% url 'get-statistics-by-atc-for-detecting-community-drug-disease' %}";
                    compareTask= "detectCommunityDD";
                    compareText = "Community of DRUG-DISEASE network";
                }
                else if(compare_type == "detect_community_dp") {
                    urlCompare = "{% url 'get-statistics-by-atc-for-detecting-community-drug-protein' %}";
                    compareTask= "detectCommunityDP";
                    compareText = "Community of DRUG-PROTEIN network";
                }
                else if(compare_type == "see_common_and_unique_elements") {
                    urlCompare = "{% url 'get-data-for-comparing-common-and-unique-network-element' %}";
                    compareTask= "commonUniqueElement";
                    compareText = "Common and Unique network elements";
                }
        }else{
            alert("Please enter a valid ATC code!");
        }
        var atc_code = $("#tabs_network").attr("data-atc-code");
            
        if (compareTask == "distributionPlot")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code.distribution;
                    var dataAtcComparison = response.atc_comparison.distribution;
                    var dataAll = response.both.distribution;
                    console.log("dataAtcCode "+dataAtcCode);
                    console.log("dataAtcComparison "+dataAtcComparison);
                    createDistributionPlot(dataAtcCode, dataAll, "atc_code_box", `${compareText} <br><br>ATC code: <span style="color: #3498db">${atc_code}</span>`);
                    createDistributionPlot(dataAtcComparison, dataAll, "atc_comparison_box", `${compareText} <br><br>ATC code: <span style="color: #3498db">${atc_comparison}</span>`);
                },
                error: function (xhr, status, error) {
                    console.log('AJAX Error:', error);
                }
            });
        }
        else if (compareTask == "distributionPlotCategory")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code;
                    var dataAtcComparison = response.atc_comparison;
                    if (dataAtcCode.classes.length){
                        createDistributionPlotForCategoryData(dataAtcCode.classes, dataAtcCode.class_count, "atc_code_box", `${compareText} <br><br>ATC code: <span style="color: #3498db">${atc_code}</span>`)
                    }
                    else{
                        $("#atc_code_box").html(`<h4 style="text-align: center; color: #3498db">${compareText} <br><br>ATC code: <span style="color: #3498db">${atc_code}</span></h4><br><br><br><h5 style="text-align: center;color: #d90429;">There is no such network!</h5>`);
                    }
                    if (dataAtcComparison.classes.length){
                        createDistributionPlotForCategoryData(dataAtcComparison.classes, dataAtcComparison.class_count, "atc_comparison_box", `${compareText} <br><br>ATC code: <span style="color: #3498db">${atc_comparison}</span>`)
                    }
                    else{
                        $("#atc_comparison_box").html(`<h4 style="text-align: center; color: #3498db">${compareText} <br><br>ATC code: <span style="color: #3498db">${atc_comparison}</span></h4><br><br><br><h5 style="text-align: center; color: #d90429;">There is no such network!</h5>`);
                    }
                },
            error: function (xhr, status, error) {
                console.log('AJAX Error:', error);
            }
            });
        }
        else if (compareTask == "compareNetworkSize")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code;
                    var dataAtcComparison = response.atc_comparison;
                    compareNetworkSize(dataAtcCode, dataAtcComparison, "result-compare-table", `${compareText}`)
                },
            error: function (xhr, status, error) {
                console.log('AJAX Error:', error);
            }
            });
        }
        else if (compareTask == "measureCentralizationDD")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code;
                    var dataAtcComparison = response.atc_comparison;
                    measureCentralizationDrugDisease(dataAtcCode, "atc_code_box", `${compareText} for <span style="color: #3498db">${atc_code}</span>`)
                    measureCentralizationDrugDisease(dataAtcComparison, "atc_comparison_box", `${compareText} for <span style="color: #3498db">${atc_comparison}</span>`)
                },
            error: function (xhr, status, error) {
                console.log('AJAX Error:', error);
            }
            });
        }
        else if (compareTask == "measureCentralizationDP")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code;
                    var dataAtcComparison = response.atc_comparison;
                    measureCentralizationDrugProtein(dataAtcCode, "atc_code_box", `${compareText} for <span style="color: #3498db">${atc_code}</span>`)
                    measureCentralizationDrugProtein(dataAtcComparison, "atc_comparison_box", `${compareText} for <span style="color: #3498db">${atc_comparison}</span>`)
                },
            error: function (xhr, status, error) {
                console.log('AJAX Error:', error);
            }
            });
        }
        else if (compareTask == "detectCommunityDD")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code;
                    var dataAtcComparison = response.atc_comparison;
                    detectingCommunityDrugDisease(dataAtcCode, "atc_code_box", `${compareText} for <span style="color: #3498db">${atc_code}</span>`);
                    detectingCommunityDrugDisease(dataAtcComparison, "atc_comparison_box", `${compareText} for <span style="color: #3498db">${atc_comparison}</span>`);
                },
            error: function (xhr, status, error) {
                console.log('AJAX Error:', error);
            }
            });
        }
        else if (compareTask == "detectCommunityDP")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code;
                    var dataAtcComparison = response.atc_comparison;
                    detectingCommunityDrugProtein(dataAtcCode, "atc_code_box", `${compareText} for <span style="color: #3498db">${atc_code}</span>`);
                    detectingCommunityDrugProtein(dataAtcComparison, "atc_comparison_box", `${compareText} for <span style="color: #3498db">${atc_comparison}</span>`);
                },
                error: function (xhr, status, error) {
                    console.log('AJAX Error:', error);
                }
            });
        }
        else if (compareTask == "calculatePathLengthDD")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code;
                    var dataAtcComparison = response.atc_comparison;
                    calculatePathLength(dataAtcCode, "atc_code_box", `${compareText} for <span style="color: #3498db">${atc_code}</span>`);
                    calculatePathLength(dataAtcComparison, "atc_comparison_box", `${compareText} for <span style="color: #3498db">${atc_comparison}</span>`);
                },
            error: function (xhr, status, error) {
                console.log('AJAX Error:', error);
            }
            });
        }
        else if (compareTask == "calculatePathLengthDP")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var dataAtcCode = response.atc_code;
                    var dataAtcComparison = response.atc_comparison;
                    calculatePathLength(dataAtcCode, "atc_code_box", `${compareText} for <span style="color: #3498db">${atc_code}</span>`);
                    calculatePathLength(dataAtcComparison, "atc_comparison_box", `${compareText} for <span style="color: #3498db">${atc_comparison}</span>`);
                },
            error: function (xhr, status, error) {
                console.log('AJAX Error:', error);
            }
            });
        }
        else if (compareTask == "commonUniqueElement")
        {
            $.ajax( {
                url: `${urlCompare}?atc_code=${atc_code}&atc_comparison=${atc_comparison}`,
                type: "GET",
                success: function (response) {
                    console.log(response);
                    var data = response;
                    commonAndUniqueNodes(data,`${compareText} for <span style="color: #3498db">${atc_code}</span> and <span style="color: #3498db">${atc_comparison}</span>`);
                },
            error: function (xhr, status, error) {
                console.log('AJAX Error:', error);
            }
            });
        }
    })
</script>

{% endblock %}