{% load static %}
{% csrf_token %}

<div role="tabpanel" class="tab-pane" id="tab_network_statistics">
    <!-- block for showing the atc level network statistics -->
    <div id='atc_level_network_statistics' style="border: #b4b1b1 1px solid">
        <p>
            <span id="atc_level_network_statistics_text"> </span>
            <span class="documentation"><a href="">Read More</a></span>
        </p>
        <div class="row" id="atc_level_network_statistics_with_protein">
            <div class="col-md-2 col-sm-12" style="margin-right: -80px;">
                <div id="moa_legend">
                    <ul class="legend">
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #ff99c8;"></div>
                            Target
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #43bccd;"></div>
                            Enzyme
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #662e9b;"></div>
                            Transporter
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #f9c80e;"></div>
                            Carrier
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12" style="margin-right: 60px">
                <div class="card-body text-center" style="margin-left: 5px; margin-top: 20px;">
                    <p style="font-style: italic; text-align: left;">Mode of action</p>
                    <div id="chart-container-ATC-interaction-type" style="width: 150px; height: 150px;">
                        <svg id="pie-chart-ATC-interaction-type"></svg>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12" style="margin-right: -80px;">
                <div id="dtype_legend">
                    <ul class="legend">
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #d62828;"></div>
                            Small Molecule
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #004e98;"></div>
                            Biotech
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12" style="margin-right: 60px">
                <div class="card-body text-center" style="margin-left: 5px; margin-top: 20px;">
                    <p style="font-style: italic; text-align: left;">Drug type</p>
                    <div id="chart-container-ATC-drug-type" style="width: 150px; height: 150px;">
                        <svg id="pie-chart-ATC-drug-type"></svg>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12" style="margin-right: -80px;">
                <div id="dstatus_legend">
                    <ul class="legend">
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #ee6055;"></div>
                            Nutraceutical
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #60d394;"></div>
                            Experimental
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #aaf683;"></div>
                            Investigational
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #ffd97d;"></div>
                            Approved
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #ff9b85;"></div>
                            VetApproved
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: #e4c1f9;"></div>
                            Illicit
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="card-body text-center" style="margin-left: 5px; margin-top: 20px; ">
                    <p style="font-style: italic; text-align: left;">Drug clinical status</p>
                    <div id="chart-container-ATC-drug-status" style="width: 150px; height: 150px;">
                        <svg id="pie-chart-ATC-drug-status"></svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="atc_level_network_statistics_with_disease" style="display: none; margin-bottom: 120px;">
            <div class="col-md-2 col-sm-12" style="margin-right: -80px;">
                <div id="moa_legend">
                    <ul class="legend">
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: steelblue;"></div>
                            Phase 1
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: purple;"></div>
                            Phase 2
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: cyan;"></div>
                            Phase 3
                        </li>
                        <li class="legend-item">
                            <div class="legend-color" style="background-color: magenta;"></div>
                            Phase 4
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-12" style="margin-right: 60px">
                <div class="card-body text-center" style="margin-left: 5px; margin-top: 20px;">
                    <p style="font-style: italic; text-align: left;">Clinical trial phases of Drug-disease association studies </p>
                    <div id="chart-container-ATC-clinical-trial-phase" style="width: 150px; height: 150px;">
                        <svg id="pie-chart-ATC-clinical-trial-phase"></svg>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-sm-12" style="margin-right: 60px">
                <div class="card-body text-center" style="margin-left: 5px; margin-top: 20px;">
                    <p style="font-style: italic; text-align: left; display: inline-block;">Disease class count</p>
                    <div id="chart-container-ATC-disease-class">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


{% block addon_js %}
<script>
    function showAtcLevelNetworkStatistics2(atc_code) {
        // Adding the atc_level_network_statistics if there is drug associated with this ATC code
        var atc_level_network_statistics = document.getElementById("atc_level_network_statistics");
        atc_level_network_statistics.style.display = "block";

        var atc_level_network_statistics_text = document.getElementById("atc_level_network_statistics_text");
        atc_level_network_statistics_text.style.marginLeft = "10px";
        atc_level_network_statistics_text.style.marginTop = "10px";

        if (atc_code != "no ATC code") {
            atc_level_network_statistics_text.innerHTML = "Overall network statistics for " + atc_code;
            showAtcLevelNetworkStatistics(atc_code);
        } else {
            atc_level_network_statistics_text.innerHTML = "Network statistics";
            showOneDrugLevelNetworkStatistics(drug_id);
        }
    }

    function showAtcLevelNetworkStatistics(atc_code) {
        $.ajax(
            {
                url: "{% url 'get-statistics-by-atc' %}?atc_code=" + atc_code,
                type: "GET",
                success: function (response) {
                    // displayStatisticsByAtcCode(response.response_data);
                    const target_type_data = [
                        { category: "Target", value: response.NoOfTargetTypes },
                        { category: "Enzyme", value: response.NoOfEnzymeTypes },
                        { category: "Carrier", value: response.NoOfCarrierTypes },
                        { category: "Transporter", value: response.NoOfTransporterTypes },
                    ];
                    createPieChartForATCTargetType(target_type_data);
                    const drug_type_data = [
                        { category: "Small Molecule", value: response.NoOfSmallMolecule },
                        { category: "Biotech", value: response.NoOfBiotech },
                    ];
                    createPieChartForATCDrugType(drug_type_data);
                    const drug_status_data = [
                        { category: "Nutraceutical", value: response.NoOfNutraceuticalDrug },
                        { category: "Experimental", value: response.NoOfExperimentalDrug },
                        { category: "Investigational", value: response.NoOfInvestigationalDrug },
                        { category: "Approved", value: response.NoOfApprovedDrug },
                        { category: "VetApproved", value: response.NoOfVetApprovedDrug },
                        { category: "Illicit", value: response.NoOfIllicitDrug },
                    ];
                    createPieChartForATCDrugStatus(drug_status_data);
                    if (response.totalNoOfDisease>0){
                        $("#atc_level_network_statistics_with_disease").show();
                        const clinical_trial_phase = [
                            { category: "Phase 1", value: response.noOfPhase1 },
                            { category: "Phase 2", value: response.noOfPhase2 },
                            { category: "Phase 3", value: response.noOfPhase3 },
                            { category: "Phase 4", value: response.noOfPhase4 },
                        ];
                        createPieChartForATCClinicalTrialPhase(clinical_trial_phase);
                        createBarChartForATCDiseaseClass(response.disease_classes, response.disease_class_count);
                    }
                },
                error: function (xhr, status, error) {
                    console.log('AJAX Error:', error);
                }
            });
    }
</script>
{% endblock %}