<tr>
    <td>{{ genebass.n_cases|floatformat:"0" }}</td>
    <td>{{ genebass.n_controls|floatformat:"0" }}</td>
    <td>{{ genebass.phenocode__description }}</td>
    <td>{{ genebass.phenocode }}</td>
    <td>{{ genebass.category__category_description }}</td>
    <td>{{ genebass.AC|floatformat:"3" }}</td>
    <td>{{ genebass.AF|floatformat:"3" }}</td>
    <td>{{ genebass.BETA|floatformat:"3" }}</td>
    <td>{{ genebass.SE|floatformat:"3" }}</td>
    <td>{{ genebass.AF_Cases|floatformat:"3" }}</td>
    <td>{{ genebass.AF_Controls|floatformat:"3" }}</td>
    <td>{{ genebass.Pvalue|floatformat:"3" }}</td>
</tr>