<tr>
    <td style="min-width: 300px; max-width: 400px; white-space: normal; word-wrap: break-word;">{{ genebass.phenocode__description }}</td>
    <td>{{ genebass.phenocode }}</td>
    <td style="text-align: center; min-width: 50px; max-width: 60px;">{{ genebass.n_cases|floatformat:"0" }}</td>
    <td style="text-align: center; min-width: 50px; max-width: 70px;">{{ genebass.n_controls|floatformat:"0" }}</td>
    <td style="min-width: 300px; max-width: 400px; white-space: normal; word-wrap: break-word;">{{ genebass.category__category_description }}</td>
    <td style="text-align: center; min-width: 50px;">{{ genebass.AC|floatformat:"3" }}</td>
    <td style="text-align: center; min-width: 50px;">{{ genebass.AF|floatformat:"3" }}</td>
    <td style="text-align: center; min-width: 50px;">{{ genebass.BETA|floatformat:"3" }}</td>
    <td style="text-align: center; min-width: 50px;">{{ genebass.SE|floatformat:"3" }}</td>
    <td style="text-align: center; min-width: 50px;">{{ genebass.AF_Cases|floatformat:"3" }}</td>
    <td style="text-align: center; min-width: 50px;">{{ genebass.AF_Controls|floatformat:"3" }}</td>
    <td style="text-align: center; min-width: 50px;">{{ genebass.Pvalue|floatformat:"3" }}</td>
</tr>