<tr class="table-filter-dropdown" id="genebass-tables-header">
    <th style="min-width: 300px; max-width: 400px; ">Description</th>
    <th>Phenocode</th>
    <th style="margin-left: 10px; min-width: 50px; max-width: 60px;">n_cases</th>
    <th style="min-width: 50px;max-width: 70px;">n_controls</th>
    <th style="min-width: 300px; max-width: 400px;">Category</th>
    <th style="margin-left: 10px; min-width: 50px;">AC</th>
    <th style="margin-left: 10px; min-width: 50px;">AF</th>
    <th style="margin-left: 10px; min-width: 50px;">BETA</th>
    <th style="margin-left: 10px; min-width: 50px;">SE</th>
    <th style="margin-left: 10px; min-width: 50px;">AF_Cases</th>
    <th style="margin-left: 10px; min-width: 50px;">AF_Controls</th>
    <th style="margin-left: 10px; min-width: 50px;">Pvalue</th>
</tr>