{% load static %}
{% block addon_css %}
    <style>
       
        .atc-network.text-hidden {
            display: none;
        }
        .atc-network{
            /* color: #337ab7; */
            color: rgba(136, 136, 136, 0.8);
            font-style: italic;
            position: relative; /* Use relative positioning */
            top: -16px; /* Move the text up by 5 pixels (adjust as needed) */
            left: -1%; /* Move the text to the left by half of its width */
            transform: translateX(-50%); /* Center the text horizontally */
        }
        #new_atc_search {

        }

    </style>
{% endblock %}

<div id="atc_left" class="col-4">
    <div id="new_atc_search">
        <a href="{% url 'atc-lookup' %}" style="color: #f17c0e;
        text-decoration: underline;
        text-decoration-color: #f17c0e;" >&lt;&lt; Return</a>
    </div>
    <!-- show data in level 1 -->
    <ul class="tree" style="margin-top: 10px;">
        <li>{{ group_id }} - <a href="#" class="desc">{{ group_name }}</a><button data-atc-code={{group_id}} data-remote-url="{% url 'get-drug-atc-association' %}" title="Click to show network" class="network-button"></button>

            <!-- show data in level 2 -->
            <ul>
                {% for g2 in group2s %}
                    {% if g2.parent_id == group_id %}
                        <li>
                            {{ g2.id }} - <a href="#" class="desc">{{ g2.name }} </a><button data-atc-code={{g2.id}} data-remote-url="{% url 'get-drug-atc-association' %}" title="Click to show network" class="network-button"></button>
                            <!-- show data in level 3 -->
                            <ul>
                                {% for g3 in group3s %}
                                    {% if g3.parent_id == g2.id %}
                                        <li>
                                            {{ g3.id }} -<a href="#" class="desc"> {{ g3.name }} </a><button data-atc-code={{g3.id}} data-remote-url="{% url 'get-drug-atc-association' %}" title="Click to show network" class="network-button"></button>
                                            <!-- show data in level 4 -->
                                            <ul>
                                                {% for g4 in group4s %}
                                                    {% if g4.parent_id == g3.id %}
                                                        <li>
                                                            {{ g4.id }} -<a href="#"
                                                                            class="desc"> {{ g4.name }} </a><button data-atc-code={{g4.id}} data-remote-url="{% url 'get-drug-atc-association' %}" title="Click to show network" class="network-button"></button>
                                                            <!-- show data in level 5 -->
                                                            <ul>
                                                                {% for g5 in group5s %}
                                                                    {% if g5.parent_id == g4.id %}
                                                                        <li>
                                                                            {{ g5.id }} -<a href="#"
                                                                                            class="desc"> {{ g5.name }} </a>
                                                                                        <button data-atc-code={{g5.id}} data-remote-url="{% url 'get-drug-atc-association' %}" title="Click to show network" class="network-button"></button>

                                                                        </li>
                                                                    {% endif %}
                                                                {% empty %}
                                                                    <li>
                                                                        No data available
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endif %}
                                                {% empty %}
                                                    <li>
                                                        No data available
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% empty %}
                                    <li>
                                        No data available
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% empty %}
                    <li>
                        No data available
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>

<script>
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('detail')) { //  detail: query_string param
        var atcDetailString = urlParams.get('detail');
        var detailATC = $("ul.tree").find('li').filter(function() {
            if ($(this).find('button').data('atc-code') == atcDetailString) {
                return $(this);
            }
            });
            detailATC.parent().css('display', 'block');
            detailATC.parent().parent().css('display', 'block');
            detailATC.parent().parent().parent().css('display', 'block');
            detailATC.parent().parent().parent().parent().css('display', 'block');
            detailATC.parent().parent().parent().parent().parent().css('display', 'block');
            detailATC.parent().parent().parent().parent().parent().parent().css('display', 'block');
            detailATC.parent().parent().parent().parent().parent().parent().parent().css('display', 'block');
            $(document).ready(function() {
                // Use setTimeout to introduce a delay
                setTimeout(function() {
                    var buttonClick = detailATC.find('button');
                    // Trigger click event
                    buttonClick.trigger('click');
                }, 2000);

                
            });
    }
</script>
